<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Bangkok</h2>

            <h3 class="ldn-subheading">Bangkok: Chaos Meets Charm in the Best Possible Way
            </h3>
            <p class="ldn-paragraph">
              Bangkok means the city of nightlife, vibrancy, street foods and shopping. A city that offers both ancient
              parts and modern spectacles. Here, rooftop bars tower over golden temples, and street food stalls stand in
              line with glitzy malls. This is a place of contrast and somehow it just fits perfectly with what tourists
              come for.

            </p>


            <p class="ldn-paragraph">
              This is a city that doesn’t wait for you to adjust. It rushes in with tuk-tuk horns, sizzling woks, and
              bursts of incense from hidden shrines. From the buzz of neon-lit streets to the calm of narrow waterways,
              Bangkok shifts tempo without warning, and that’s the magic. In short, you will be bombarded from
              everywhere and anywhere.

            </p>

            <p class="ldn-paragraph">
              But beneath all the bustle, there’s a distinct rhythm. A kind of beautiful, pulsing balance where
              tradition and trend stand side by side and not against each other. You’ll find saffron-robed monks walking
              past street murals, century-old temples standing proudly beside hipster cafes, and markets that sell
              everything from silk to smartphones. And through it all, a deep sense of Thai warmth and hospitality. This
              makes even the most chaotic corner feel strangely comforting.

            </p>
            <p class="ldn-paragraph">
              Food, fashion, history, or thrill of the city life — whatever might be your purpose of visit, the city
              will not disappoint you. In fact, you might feel overwhelmed on the first day, but by the second, you will
              look for more.

            </p>

          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">The Grand Palace </h2>
                  <p class="things-card-description">
                    Golden spires, courtyards, and sacred halls — a complex that will leave you dazzled. You cannot miss
                    the Grand Palace, Bangkok’s most iconic landmark. Once it was the royal residence, now it is known
                    as a spiritual and ceremonial center. The architecture here will stun you, and the revered Temple of
                    the Emerald Buddha (Wat Phra Kaew) is the most recommended one among the tourists. Keep in mind to
                    dress modestly, and you will be awestruck by centuries of Thai craftsmanship and cultural pride.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">
                    Wat Arun
                  </h2>
                  <p class="things-card-description">
                    Bangkok’s one of the most striking temples, Wat Arun, stands beside the Chao Phraya River. This
                    place is even more beautiful in the morning sunlight, as it is made of porcelain mosaics. Consider
                    climbing up the central prang to get mesmerized by the panoramic landscape of the city. Your overall
                    experience will be peaceful and steeped in symbolism.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Chatuchak Weekend Market </h2>
                  <p class="things-card-description">
                    With over 15,000 stalls, you can visit one of the world’s largest weekend markets. It’s a maze of
                    clothes, antiques, street food, and local art all packed into one place. Be it hunting souvenirs,
                    sampling Thai snacks, or people-watching, this market is an essential Bangkok experience. Come
                    early, stay hydrated, and expect to haggle; your time will be extraordinary.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Jim Thompson House
                  </h2>
                  <p class="things-card-description">
                    Jim Thompson, the American silk entrepreneur who helped revive Thailand’s silk industry. Have a look
                    at his world. His traditional teak home, amidst the lush gardens, is now maintained as a museum of
                    Southeast Asian art and architecture. Take a guide and your tour will be full of stories - right in
                    the middle of Bangkok.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Asiatique The Riverfront
                  </h2>
                  <p class="things-card-description">
                    With boutique shops, outdoor dining, and live performances, it’s a great place to unwind. You can
                    shop for gifts, have dinner at roadside stalls or cozy restaurants, and witness some cultural shows
                    right in the middle of the street. Take a ride on the Ferris wheel and be amazed by the skyline
                    views of the city.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Khao San Road</h2>
                  <p class="things-card-description">
                    Bangkok’s go-to spot for backpackers and late-night energy. Packed with bars, street food stalls,
                    tattoo parlors, and budget stays, it’s loud, lively, and unapologetically vibrant. Whether you're
                    there to party or just people-watch, it’s a spot that captures the youthful, unfiltered side of
                    Bangkok nightlife.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
         <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">(888) 230-2647</a>
              <p class="ezbk-description">
               Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->