/* == Quick Assist Style start Start === */

.contact-widget {
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 999;
}

.contact-popup {
	position: relative;
}

.contact-toggle-btn {
	background-color: #007c04;
	color: #fff;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	animation: pulse-ring 1.5s infinite;
	cursor: pointer;
	z-index: 1001;
}

.contact-dropdown {
	// display: none;
    display: block;
	position: absolute;
	bottom: 65px;
	right: 0;
	width: 280px;
	padding: 20px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	// opacity: 0;
    opacity: 1;
	transform: translateY(10px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 1000;
	pointer-events: none;
}

.contact-popup.show-dropdown .contact-dropdown {
	display: block;
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.agent-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url("../../../../public/assets/images/assist-agent.webp") no-repeat center/cover;
	margin: 0 auto;
}

.contact-info {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.call-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 2rem;
	height: 40px;
	border: 2px solid #007c04;
	border-radius: 8px;
	position: relative;
	background-color: #f8fdf9;
}

.call-icon {
	position: absolute;
	left: 2px;
	width: 32px;
	height: 32px;
	background: #007c04
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M391 480c-19.52 0-46.94-7.06-88-30c-49.93-28-88.55-53.85-138.21-103.38C116.91 298.77 93.61 267.79 61 208.45c-36.84-67-30.56-102.12-23.54-117.13C45.82 73.38 58.16 62.65 74.11 52a176.3 176.3 0 0 1 28.64-15.2c1-.43 1.93-.84 2.76-1.21c4.95-2.23 12.45-5.6 21.95-2c6.34 2.38 12 7.25 20.86 16c18.17 17.92 43 57.83 52.16 77.43c6.15 13.21 10.22 21.93 10.23 31.71c0 11.45-5.76 20.28-12.75 29.81c-1.31 1.79-2.61 3.5-3.87 5.16c-7.61 10-9.28 12.89-8.18 18.05c2.23 10.37 18.86 41.24 46.19 68.51s57.31 42.85 67.72 45.07c5.38 1.15 8.33-.59 18.65-8.47c1.48-1.13 3-2.30 4.59-3.47c10.66-7.93 19.08-13.54 30.26-13.54h.06c9.73 0 18.06 4.22 31.86 11.18c18 9.08 59.11 33.59 77.14 51.78c8.77 8.84 13.66 14.48 16.05 20.81c3.60 9.53.21 17-2 22c-.37.83-.78 1.74-1.21 2.75a176.50 176.5 0 0 1-15.29 28.58c-10.63 15.9-21.4 28.21-39.38 36.58A67.40 67.4 0 0 1 391 480'/%3E%3C/svg%3E")
		no-repeat center/50%;
	border-radius: 4px;
}

.assist-title {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	color: #262933;
}

.phone-number {
	color: #007c04;
	font-weight: bold;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}

.divider {
	margin: 10px 0;
	border: none;
	border-top: 1px solid #e0e0e0;
	opacity: 1;
}

.benefits-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.benefits-list li {
	display: flex;
	gap: 6px;
	align-items: center;
	font-size: 14px;
	color: #333;
}

.list-icon {
	width: 6px;
	height: 6px;
	background-color: #007c04;
	border-radius: 50%;
}

.drop-arrow {
	position: absolute;
	bottom: -8px;
	right: 20px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff;
	filter: drop-shadow(0 -2px 4px rgba(0, 0, 0, 0.1));
}

@keyframes pulse-ring {
	0% {
		box-shadow: 0 0 0 0 #007c04, 0 0 0 0 #007c04;
	}
	50% {
		box-shadow: 0 0 0 5px rgba(0, 124, 4, 0.3), 0 0 0 8px rgba(0, 124, 4, 0.2);
	}
	100% {
		box-shadow: 0 0 0 0 #007c04, 0 0 0 0 #007c04;
	}
}

@media (max-width: 991px) {
	.contact-widget {
		display: none;
	}
	.nav-call-button-wrap {
		padding: 12px 24px 24px;
	}
	.phone-content {
		padding-left: 3.5rem;
		font-size: 0.85rem;
		font-weight: 400;
		text-transform: capitalize;
		cursor: pointer;
		text-align: left;
	}
	.phone-heading {
		font-weight: 700;
		font-size: 1rem;
		display: block;
		margin-bottom: 0.1rem;
		font-family: "Poppins", sans-serif;
	}
	.phone-sub-heading {
		color: #333;
		text-decoration: none;
		font-size: 14px;
		font-family: "Poppins", sans-serif;
	}
	.nav-call-button-wrap::before {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		background-image: url("../../../../public/assets/images/avatar.png");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		top: 1rem;
		left: 1.5rem;
		position: absolute;
		content: "";
	}
	.nav-call-button-wrap {
		color: #262933;
		font-size: 0.75rem;
		position: relative;
	}
	.sidebar-call-button-wrap {
		margin-top: 20px;
	}
	.sidebar-signin-btn {
		align-items: center;
		background-color: #0062e3;
		border: none;
		border-radius: 8px;
		color: #fff;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		gap: 4px;
		height: 34px;
		justify-content: center;
		letter-spacing: 0;
		line-height: 20px;
		outline: none;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		text-transform: unset;
		white-space: nowrap;
		width: 100%;
	}
	.sidebar-menu-list li {
		width: 100%;
	}
	.sidebar-menu-list li a {
		display: flex !important;
		align-items: center;
		line-height: 100% !important;
	}
	.sidebar-menu-list li a .sidebar-menu-icon-box {
		margin-right: 8px;
	}
}
/* == Quick Assist Style start End === */


/* === Short Popup Start === */
.short-cta-popup {
	min-height: 62px;
	display: block;
	text-decoration: none;
	border-left: 4px solid #006ee3;
	border-radius: 4px;
	background: #fff;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	position: relative;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.short-cta-popup-image {
	position: relative;
	padding: 0;
	display: inline-block;
	margin: 0;
	float: none;
}
.short-cta-popup .short-cta-popup-image:after {
	content: "";
	width: 8px;
	height: 8px;
	background: #008a04;
	border-radius: 50%;
	display: block;
	position: absolute;
	right: 4px;
	bottom: 8px;
}
.short-cta-popup .short-popup-call-icon-box {
	color: #fff;
	background: #006ee3;
	border-radius: 50%;
	/* padding: 8px 9px 3px; */
	float: right;
	position: relative;
	margin-right: 3px;
	margin-top: 8px;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.short-cta-popup .phone-deals-content {
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
	color: #313541;
	margin: 0;
}
.short-cta-popup .phone-deals-content-bottom {
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
	color: #313541;
	margin: 0;
}
.short-cta-popup .phone-deals-content-bottom .short-cta-popup-content {
	font-size: 12px;
	color: #73767f;
	line-height: 18px;
	display: inline;
}
.short-cta-popup-content .promocode {
	border: 1px solid #c5dbc5;
	background: #e6f3e6;
	color: #007c04;
	padding: 2px 6px;
	border-radius: 4px;
	font-weight: 600;
}

/* === Short Popup End === */