<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div
    class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"
  ></div>
  <div class="innerbannerimgbox">
    <img
      src="assets/images/inner-detais_banner_images/terms-and-condition.webp"
      alt="Banner"
      class="innerbannerimg"
    />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>TERMS AND <span class="subtitletext">CONDITIONS</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a routerLink="/" class="currentpagesec"
                  ><i class="fa-solid fa-house"></i> Home</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Terms & Conditions AU
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->
<section class="policy-content">
  <div class="container container-xxl">
    <div class="page-content">
      <p>
        infinityfarecompare owns and operates the website, desktop application, and
        mobile application. This site will help you to easily secure and plan
        your journey. We will help you to connect with our trusted air service
        providers. Please understand that our website can only be used for
        personal usage and not for any commercial purposes. Keep a note that in
        the Terms & Conditions, “we,” “us,” or “our’ refers to infinityfarecompare.
        “You” or “your” is meant for any person who is browsing or using our
        Website. “Services’ includes flight information, booking tools, and
        other features we offer.
      </p>

      <h4>User Agreement</h4>
      <p>
        You provide consent to our Terms & Conditions if you are using our
        website for online flight bookings, boarding any aircraft, and accessing
        customer support. The Terms include every disclaimer and liability
        limitation. It is requested that you stop using our website immediately
        if you do not agree.
      </p>

      <h4>Booking, Ticketing, and Payments</h4>

      <p>
        We function as an intermediary travel service provider, allowing
        travelers to search, compare, and book flights offered by the airlines.
        We constantly work hard to provide our users with accurate information
        and smooth booking support. The actual transportation services are
        provided by the airlines. Their rules, restrictions, and conditions
        apply to every reservation that has been made from our platform. By
        confirming a booking, you also agree to follow the terms of the
        particular airline.
      </p>
      <p>
        Keep a note that the bookings will be subject to availability, and when
        final confirmation is provided by the airline. Whenever the airline
        issues a unique booking reference number or e-ticket, your booking will
        be confirmed. As a traveler, you must make sure that you provide all
        personal information, like your legal name, passport, and identification
        details, accurately during booking. It is your responsibility to verify
        whether the travel documents match the requirements of the destination
        and the airline. We will not take any responsibility if you are refused
        boarding, entry, or travel disruptions caused by inappropriate or
        incomplete documents.
      </p>
      <p>
        We will not be responsible if the fares change without any notice before
        the booking has been confirmed and complete payment has been processed.
        The fare shown during checkout will consist of applicable taxes, fuel
        surcharges, base fare, and service convenience fees by the [COMPANY
        NAME]. You may have to pay extra based on the airline's policies for
        additional services like baggage allowance, insurance, priority
        boarding, or seat selection. The service fees that have been charged by
        us are non-refundable except where it is necessary by law or stated
        otherwise.
      </p>
      <h4>Flight Cancellations and Refunds</h4>
      <p>
        Cancellations and refunds will be controlled by the fare rules provided
        by the airlines. It is always advised to read the Terms of the ticket
        before booking because some tickets may be non-refundable or can cause
        penalties and fare differences. We only act as an intermediary when you
        request a change or cancellation between you and the airline. In some
        cases, we may charge a certain service fee for processing the request.
        The time necessary for processing can differ based on airline payment
        methods. Refunds are initiated only after receiving the funds from the
        airline. The timeline for refunds can vary from 7 to 45 working days,
        and we will not be responsible if any delays are caused by the airlines
        or financial institutions. If there are any operational or safety
        reasons, airlines can change flight schedules, departure times, or
        routes. The airline will be responsible for providing help or
        compensation as per their policies for any delays, cancellations, or
        disruptions. We try our best to help you in communicating and rebooking
        with the airline. However, we will not take any responsibility for
        losses, inconvenience, or expenses due to such disruptions.
      </p>

      <p>
        You must follow the arrival and check-in procedure that has been
        mentioned in your ticket confirmation. If you miss the flight due to
        late arrival or fail to follow the instructions, neither infinityfarecompare
        nor the airlines will take any responsibility.
      </p>
      <h4>Baggage Policies</h4>
      <p>
        There are weight and dimension limitations on the baggage that you will
        be carrying. Keep a note that there must not be any restricted items,
        like flammable substances, hazardous materials, or items banned by the
        aviation security in the checked baggage. Please carry your valuable
        items, travel documents, medicines, and electronic devices in cabin
        baggage. The airline will not be responsible for damage to delicate or
        improperly packed items. To make claims for lost or damaged baggage, you
        need to submit them to the airlines in writing within the given time
        limits provided by the law.
      </p>
      <h4>Updates</h4>
      <p>
        We can update or make changes to these Terms & Conditions at any time,
        at our convenience. If you continue to use our services, you confirm
        that you have accepted our revised terms. We advise you to review this
        Terms & Conditions page regularly.
      </p>

      <h4>Get in Touch</h4>
      <p>
        Have questions about the Terms & Conditions? Reach out to our customer
        support team.
      </p>
      <p><b>Contact: </b>
         <a href="tel:{{ getData?.australia_phoneNumber }}"> +{{ getData?.australia_phoneNumber }}</a>
      </p>
      <p><b>Email: </b>
         <a href="mailto:{{getData?.email}}"> {{getData?.email}}</a>
      </p>
    </div>
  </div>
</section>
<!--=========== Contact ==============-->
