<!--=========== Banner Section Start  ==============-->
    <section class="banner banner-content-wrap innerbannersection">
      <div class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(assets/images/Careers/shape8.png)"></div>
      <div class="innerbannerimgbox">
        <img src="assets/images/Careers/businesspeople-meeting-office-hand-shake.jpg" alt="" class="innerbannerimg">
      </div>
      <div class="container container-xxl">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="innerbanner-txt">
              <h1>
                Post-Booking <span class="subtitletext">Charges And Terms</span>
              </h1>
              <div class="breadcrumbssec">
                <ol class="breadcrumb bg-transparent justify-content-center">
                  <li class="breadcrumb-item"><a href="#" class="currentpagesec"><i class="fa-solid fa-house"></i>
                      Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Our Service Fee</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Banner Section End  ==============-->

    <!--=========== Contact ==============-->
    <section class="post_ticketing_section post-ticket-fees-wrap mt-3 pt-5 pb-4">
      <div class="container container-xxl">
        <div class="row">
          <div class="col-12">
            <div class="main_table_wrap w-100">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Service Type</th>
                      <th>Applicable For</th>
                      <th>Fee Type</th>
                      <th>Maximum Charge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <b>Flight Booking Processing Fee</b>  (charged per traveler, per ticket)
                      </td>
                      <td>Domestic & International Flights</td>
                      <td>Service Fee </td>
                      <td>
                        Up to $ 45
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Hotel Booking Transaction Fee</b>  (per night, per room)
                      </td>
                      <td>All Hotel Bookings</td>
                      <td>Service Fee</td>
                      <td>
                        Up to $40
                      </td>
                    </tr>
                    <tr>
                      <td><b>Car Rental Processing Fee </b> (per rental)</td>
                      <td>All Car Rentals</td>
                      <td>Service Fee </td>
                      <td>Up to $45</td>
                    </tr>
                    <tr>
                      <td><b>Cruise Booking Transaction Fee</b> (per traveler)</td>
                      <td>All Cruise Reservations</td>
                      <td>Service Fee</td>
                      <td>Up to $210</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="page-content mt-0 p-0">
                <h4>User Information Collection</h4>
                <p>While using our website, we may occasionally request certain personal data from you. This may involve, though is not solely limited to:</p>
                <ul>
                  <li>Personal identifiers such as your full name, gender, birthdate, passport number, or other unique identification details shared during interactions with us or our affiliated businesses.</li>
                  <li>
                    Contact information like your phone number(s), email address(es), mailing address, or fax number(s).
                  </li>
                  <li>
                    Work-related data such as The infinity travel, business type, and associate contact details (as per terms and conditions).
                  </li>
                  <li>
                    Travel-related details including flights, hotels, cruises, travel companion information, destination contacts, food and seating preferences, hotel/cruise/flight choices, and other specific requirements you may have.
                  </li>
                </ul>

                <h4>How We Collect User Information</h4>
                <p>We gather user data through various inputs and digital interactions, including but not limited to:</p>
                <ul>
                  <li>Information you provide through contact or inquiry forms</li>
                  <li>Messages submitted directly through our website</li>
                  <li> Emails and phone conversations were held with <a href="mailto:{{getData?.email}}">({{"{{getData?.email}}"}})</a></li>
                  <li>Use of cookies to store and retrieve data efficiently</li>
                  <li>
                    Any other secure and valid method that helps us access your data for service and website use
                  </li>
                </ul>

                <h4>Why We Collect Customer Information</h4>
                <ul>
                  <li>We collect customer data for the following reasons:</li>
                  <li>To build statistical records such as website traffic, visit frequency, user demographics, and behavior trends</li>
                  <li>To ensure timely and accurate delivery of services you've requested</li>
                  <li>To gather necessary identification documents for verification</li>
                  <li>To support and respond to queries or concerns related to your bookings with us or affiliated platforms</li>
                  <li>To allow the transfer or disclosure of your data to third-party partners or service providers when needed to resolve matters or fulfill service</li>
                  <li>To offer improved, tailored services and contribute to the growth and development of The infinity tarvel</li>
                </ul>
                <p>For additional queries, feel free to call us at <a href="tel:{{getData?.phoneNumber}}">&nbsp;{{getData?.phoneNumber}}&nbsp;</a> or email <a href="mailto:{{getData}}">{{"{{getData?.email}}"}}</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Contact ==============-->