<!--=========== Banner Section Start  ==============-->
    <section class="banner banner-content-wrap innerbannersection">
      <div class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(assets/images/Careers/shape8.png)"></div>
      <div class="innerbannerimgbox">
        <img src="assets/images/inner-detais_banner_images/our-service-fees.webp" alt="Banner" class="innerbannerimg">
      </div>
      <div class="container container-xxl">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="innerbanner-txt">
              <h1>
                Post-Booking <span class="subtitletext">Charges And Terms</span>
              </h1>
              <div class="breadcrumbssec">
                <ol class="breadcrumb bg-transparent justify-content-center">
                  <li class="breadcrumb-item"><a  href="javascript:void(0);" class="currentpagesec"><i class="fa-solid fa-house"></i>
                      Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Our Service Fee</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Banner Section End  ==============-->

    <!--=========== Contact ==============-->
    <section class="post_ticketing_section post-ticket-fees-wrap mt-3 pt-5 pb-4">
      <div class="container container-xxl">
        <div class="row">
          <div class="col-12">
            <div class="main_table_wrap w-100">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Service Fees </th>
                      <th>Applicable to </th>
                      <th>Code </th>
                      <th>Price </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <b>Airfare Fees</b>  Airfare Fees (*per passenger & per ticket based) 
                      </td>
                      <td>Flights within US Domestic and International </td>
                      <td>Fees  </td>
                      <td>
                        Up to $48 
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Hotel Booking Fees</b> (per room & per night based)
                      </td>
                      <td>All Hotels listed </td>
                      <td>Fees </td>
                      <td>
                        Up to $38 
                      </td>
                    </tr>
                    <tr>
                      <td><b>Car Rental Fees </b> (per rental based)</td>
                      <td>All Cars listed for rental </td>
                      <td>Fees  </td>
                      <td>Up to $46 </td>
                    </tr>
                    <tr>
                      <td><b>Cruise Booking Fees</b> (per passenger based)</td>
                      <td>All listed Cruises </td>
                      <td>Fees </td>
                      <td>Up to $215 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="page-content mt-0 p-0">
                <h4>The Service Fees will be adjusted to USD at the Payment Page</h4>
                <p>Passengers may include adults, seniors, children, infants, students, or members of the military. Please note that all transaction fees are final, non-refundable, and may be updated at any time without advance notice. You might be eligible for a refund of the service costs if you choose to cancel your appointment within 24 hours of receiving your booking confirmation. However, cancellations made after the 24-hour window will not qualify for any refund of transaction charges.</p>


                <h4>You will be only charged the final amount </h4>
                <p>Items excluded from service fees: </p>
                <ul>
                  <li>Up to $50 per person for holiday package bookings</li>
                  <li>Up to $145 per person on business-class and first-class flight tickets</li>
                  <li>Up to $85 per person for multi-city reservations</li>
                  <li>Up to $50 per person for high-risk fraud location bookings</li>
                  <li>Up to $60 per person for bookings with flexible dates and different airports</li>
                  <li>Up to $205 per person for online cruise reservation</li>
                  <li>Up to $92 for unaccompanied minors involving booking</li>
                </ul>


                <h4>Booking Through Customer Support </h4>
                <p>If you choose to book your trip through our customer service team, please note that the service fees may be higher than those listed online. This is typically due to the added effort required for complex travel plans, such as multi-city or round-the-world itineraries. </p>
                <ul>
                  <li>Fees range between $25 and $265</li>
                  <li>Senior travelers benefit from a reduced maximum fee of $135</li>
                  <li>Bookings may have additional terms depending on their nature</li>
                </ul>
                <p><strong>Please Note:</strong> Service charges are subject to change at any time and may be updated without prior notification. The amount quoted at the time of booking is the final price you’ll be billed, even if the fee structure changes afterward. We recommend reviewing your complete quote carefully before proceeding with payment.  </p>
                <p>Please refer to our <a href="/terms-and-conditions">Terms & Conditions</a> for all policy details. </p>

                <p>For additional queries, feel free to call us at <a href="tel:{{getData?.phoneNumber}}">&nbsp;{{getData?.phoneNumber}}&nbsp;</a> or email <a href="mailto:{{getData}}">{{getData?.email}}</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Contact ==============-->