<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Swiss Alps Escape</h2>

            <h3 class="ldn-subheading">Echoes of Serenity: Your Swiss Alps Escape
            </h3>
            <p class="ldn-paragraph">
              Imagine a world where majestic peaks kiss the sky and the only sounds are soft winds and distant cowbells.
              Welcome to the Swiss Alps, an escape where time slows, and every view feels like a living masterpiece.
            </p>


            <p class="ldn-paragraph">
              Your journey begins aboard panoramic trains, gliding through winding valleys, glistening glaciers, and
              emerald meadows. Each turn of the track unveils a scene straight from a fairy tale, where snow-draped
              peaks and sunlit villages create an ever-changing canvas of beauty.

            </p>

            <p class="ldn-paragraph">
              Wander through storybook villages, where flower-draped chalets and cobbled lanes invite you to linger in
              the quiet magic of Alpine life. Savor steaming hot chocolate in snug little cafés, breathe in the crisp
              mountain air, and let the gentle warmth of Swiss hospitality wrap around you.

            </p>

            <p class="ldn-paragraph">Adventure calls to the bold, ski powdery slopes, trek rugged trails, and explore
              shimmering glaciers that reveal nature’s raw magnificence. Yet serenity seekers will find bliss in simply
              resting by a crystal-clear lake, watching the peaks reflect like a mirror while the world grows hushed
              around you. As twilight paints the mountains gold, indulge in hearty Alpine meals, bubbling cheese fondue,
              rustic breads, and velvety Swiss chocolate, all the perfect companions to a cool, starlit night.</p>
            <p class="ldn-paragraph">
              The Swiss Alps Escape is more than a trip, it is a retreat for the senses, a journey where every sunrise
              feels like a new beginning and the mountains whisper their timeless poetry to the heart.

            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3 justify-content-center">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/lauterbrunnen-valley.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Lauterbrunnen Valley </h2>
                  <p class="things-card-description">
                    Known as the Valley of 72 Waterfalls, Lauterbrunnen is a breathtaking alpine paradise. Towering
                    cliffs, wildflower meadows, and cascading waterfalls create a cinematic landscape. Visitors can hike
                    to Trümmelbach Falls, ride the cable car to Mürren, or take the train to Wengen, enjoying dramatic
                    mountain views along the way. Lauterbrunnen is also a base for exploring Jungfrau and Schilthorn
                    peaks, blending serene countryside charm with thrilling alpine adventures. It’s the perfect escape
                    for photographers, hikers, and nature enthusiasts seeking raw Swiss beauty.


                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/st-moritz.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">St. Moritz</h2>
                  <p class="things-card-description">
                    Famous as a luxury alpine resort, St. Moritz combines glamorous experiences with natural splendor.
                    Winter transforms it into a world-class ski destination, hosting international events like the White
                    Turf horse races on the frozen lake. Summer travelers can explore hiking trails, sparkling lakes,
                    and cable car rides offering unforgettable vistas. Its upscale boutiques, gourmet dining, and iconic
                    spas attract elite travelers seeking relaxation. Whether skiing, sailing, or indulging in luxury,
                    St. Moritz offers an unparalleled Swiss Alps escape that’s both elegant and adventurous.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/aletsch-glacier.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Aletsch Glacier
                  </h2>
                  <p class="things-card-description">
                    The Aletsch Glacier, the largest in the Alps, is a UNESCO World Heritage Site and a must-visit
                    natural wonder. Spanning 23 kilometers, it showcases the raw beauty and scale of Switzerland’s
                    alpine landscape. Visitors can hike scenic trails around Eggishorn and Bettmerhorn, capturing
                    mesmerizing glacier views. Guided tours offer insights into glacial history and climate
                    significance. Whether admired from a distance or explored on foot, Aletsch Glacier delivers a
                    humbling, once-in-a-lifetime experience that highlights the grandeur and fragility of the Swiss
                    Alps.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/grindelwald.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Grindelwald</h2>
                  <p class="things-card-description">
                    Grindelwald is a charming mountain village surrounded by dramatic peaks like Eiger and Wetterhorn.
                    It offers a perfect mix of adventure and relaxation, from skiing and snowboarding in winter to
                    hiking and biking in summer. The First Cliff Walk, and cable car rides deliver heart-stopping alpine
                    views. Grindelwald also serves as a gateway to Jungfraujoch and Schilthorn, making it a central hub
                    for explorers. Its postcard-perfect landscapes and cozy Swiss atmosphere ensure every traveler
                    experiences the authentic charm of alpine life.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/gstaad.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Gstaad</h2>
                  <p class="things-card-description">
                    Synonymous with luxury and elegance, Gstaad is a glamorous Swiss village offering a tranquil yet
                    sophisticated alpine escape. It’s renowned for upscale hotels, designer boutiques, and gourmet
                    restaurants, attracting celebrities and luxury travelers. Beyond its lavish reputation, Gstaad is
                    surrounded by pristine hiking trails, lush meadows, and ski slopes, providing year-round adventure.
                    Traditional Swiss chalets and vibrant cultural events add local charm. Whether indulging in
                    relaxation or alpine thrills, Gstaad seamlessly combines natural beauty with world-class
                    sophistication in the Swiss Alps.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/swiss/things_to_do/jungfraujoch.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Jungfraujoch </h2>
                  <p class="things-card-description">
                    The Jungfraujoch, famously called the Top of Europe, is a high-altitude wonderland reachable by an
                    extraordinary cogwheel train. Sitting at 3,454 meters, it offers panoramic views of Aletsch Glacier
                    and surrounding peaks. Visitors can explore the Ice Palace, enjoy snow sports year-round, and
                    capture surreal photographs of the Alps. The journey itself, passing through Eiger and Mönch
                    mountains, is part of the magic. Jungfraujoch delivers an unforgettable blend of adventure, natural
                    beauty, and engineering marvel, making it a crown jewel of Swiss travel.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center">
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss1.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss3.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss4.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss5.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss6.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss7.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/swiss/swiss8.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">{{getData?.phoneNumber}}</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->