.custom-navbar {
  // background: linear-gradient(
  //   135deg,
  //   rgba(251, 176, 64, 1) 0%,
  //   rgba(247, 127, 29, 1) 100%
  // );
  // background:linear-gradient(135deg, #020d45 0%, #01032b 100%);
  background-color: var(--main-site-color);
  padding: 9px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 6.9px rgba(0, 0, 0, 0.25);
}

.custom-navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-logo img {
  max-height: 46px;
}

/* Menu List and Items */
.custom-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.custom-menu-item {
  position: relative;
}

/* Menu Links */
.custom-link {
  color: #303030;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 15px;
  display: inline-block;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  transition: color 0.3s;
}

@media (min-width: 992px) {
  .custom-link.active,
  .custom-link:hover {
    color: #303030;
    text-decoration: underline !important;
    text-underline-offset: 8px !important;
    text-decoration-thickness: 2px !important;
  }
}

/* Submenu (Desktop) */
.custom-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #303030;
  list-style: none;
  min-width: 285px;
  box-shadow: 0px 4px 35.5px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 999999;
  border-radius: 0 0 8px 8px;
}

.custom-menu-item:hover .custom-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.custom-submenu li a {
  color: #555555;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 20px;
  display: block;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s, background-color 0.3s;
}

.custom-submenu li a:hover {
  color: #000;
}

/* Buttons */
.custom-buttons {
  display: flex;
  gap: 10px;
}

.custom-btn {
  // background: linear-gradient(
  //   135deg,
  //   rgba(251, 176, 64, 1) 0%,
  //   rgba(247, 127, 29, 1) 100%
  // );
  background: linear-gradient(135deg, #020d45 0%, #01032b 100%);

  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.custom-btn:hover {
  // background: linear-gradient(
  //   135deg,
  //   rgba(251, 176, 64, 1) 0%,
  //   rgba(247, 127, 29, 1) 100%
  // );
  background: linear-gradient(135deg, #020d45 0%, #01032b 100%);
}

/* Toggle Button (Mobile) */
.custom-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
  justify-content: flex-end;
}

/* Close Button in Mobile Menu */
.closeoffcanvas-btn {
  background: transparent;
  border: 1px solid #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1px;
}

/* Dropdown icon styling */
.dropdown-icon {
  display: inline-block;
  margin-left: 3px;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .dropdown-icon:hover {
    cursor: pointer;
    background: #e3e3e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Rotate icon when submenu is open (mobile) */
.custom-menu-item.open .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown-icon svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

/* Overlay for Mobile Offcanvas */
/* .custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }

  .custom-overlay.active {
    opacity: 1;
    visibility: visible;
  } */

.sidebar-menu-icon-box {
  margin-right: 8px;
}

.header-call-txt {
  margin: 0;
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}
.header-call-txt .header-inquery-no {
  font-size: 11px;
  color: #303030;
  line-height: normal;
  font-weight: 700;
}
.header-call-btn {
  border: 2px solid #303030;
  border-radius: 12px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  box-shadow: 0 3.83px 7.18px 0px rgba(0, 0, 0, 0.25);
  line-height: 100%;
  color: #303030;
}
.header-call-icon {
  border-right: 1px solid #303030;
  padding: 0 10px 0 0;
  margin-right: 10px;
}
.header-call-icon img {
  animation-name: trin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes trin {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20%,
  32%,
  44%,
  56%,
  68% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  23%,
  35%,
  47%,
  59%,
  71% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  26%,
  38%,
  50%,
  62%,
  74% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  29%,
  41%,
  53%,
  65%,
  77% {
    transform: rotate3d(0, 0, 1, -15deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.header-call-txt span {
  font-size: 9px;
  color: #303030;
  line-height: 100%;
  font-weight: 500;
}

@media (max-width: 991px) {
  .header-call-btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 7px;
  }
  .sidebar-menu i {
    font-size: 30px;
    margin-top: 8px;
  }
  .profile .img-box {
    width: 35px;
    height: 35px;
  }
  .header-call-txt .header-inquery-no {
    // display: none;
  }
  .header-call-txt span {
    // display: none;
  }
  .header-call-icon {
    border-right: 0;
    padding: 0;
    margin-right: 0px;
  }
  .header-call-icon svg path{
    fill: #303030 !important;
  }
  
  .submenu {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
/* Responsive - Mobile (max 991px) */
@media (max-width: 374px) {
  .custom-logo img {
    max-height: 28px;
  }
}
@media (min-width: 375px) {
  .custom-logo img {
    max-height: 50px;
  }
}
@media (max-width: 991px) {
  .header-btn {
    margin-left: auto;
  }
  .header-call-btn {
    // display: none !important;
  }
  .custom-navbar {
    padding: 3px 0px;
  }
  .custom-toggle {
    display: flex;
    margin-right: -11px;
  }
  .custom-menu-header {
    // background: linear-gradient(135deg, rgba(251, 176, 64, 1) 0%, rgba(247, 127, 29, 1) 100%);
    background: linear-gradient(135deg, #020d45 0%, #01032b 100%);

    padding: 25px;
  }
  .custom-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 0px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    /* z-index: 1001; */
    z-index: 999999;
  }

  .custom-menu.active {
    right: 0;
  }
  .custom-menu.show-offcanvas {
    right: 0;
  }

  body.overflow-hidden {
    overflow: hidden;
  }

  .custom-menu-list {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }

  .custom-menu-item {
    width: 100%;
  }
  .custom-menu-item:not(:last-child) {
    border-bottom: 1px solid #ededed;
  }
  .custom-link {
    color: #3f3e3e;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    font-weight: 600;
  }

  .custom-link.active,
  .custom-link:focus,
  .custom-link:hover {
    color: #3f3e3e;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
  }

  .custom-btn {
    font-size: 13px;
    padding: 6px 10px;
  }

  /* Submenu slide toggle for mobile */
  .custom-submenu {
    position: static;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background: #fff;
    width: 100%;
    box-shadow: none;
  }
  .custom-menu-item.submenu-open .custom-submenu {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 16px;
  }

  .custom-submenu li a {
    color: #3f3e3e;
    font-size: 14px;
    padding: 3px 30px;
  }

  .custom-submenu li a:hover {
    color: #3f3e3e;
  }
  .submenu-open .dropdown-icon {
    transform: rotate(180deg);
  }
}

/* Responsive - Desktop (min 992px) */
@media (min-width: 992px) {
  .custom-menu {
    margin-left: auto;
    margin-right: 32px;
    position: static;
    display: flex !important;
  }

  .custom-toggle {
    display: none !important;
  }

  .custom-menu-list {
    flex-direction: row;
    gap: 16px;
  }
  .custom-submenu {
    padding: 15px 0;
    margin-top: 9px;
    transform: translateY(10px);
  }
  .custom-menu-item:hover .dropdown-icon {
    transform: rotate(180deg);
  }
  .sidebar-menu-icon-box {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .custom-link {
    font-size: 12px;
    padding: 12px 4px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .custom-link {
    font-size: 13px;
    padding: 12px 6px;
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  .custom-link {
    font-size: 12px;
    padding: 12px 4px;
  }
}
/* Container Max Width */
@media (min-width: 1600px) {
  .container.container-xxl {
    max-width: 1600px;
  }
}

/* === Profile Dropdown Menu Style Start ===== */

.profile-menu {
  position: relative;
  display: inline-block;
}

.profile-btn {
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.profile-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  min-width: 160px;
  z-index: 1000;
  padding: 8px 0px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-dropdown.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 16px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  /* box-shadow: -1px -1px 1px rgba(0,0,0,0.1); */
}

.profile-dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  line-height: 100%;
  font-size: 14px;
  color: #333;
}

.profile-dropdown a:hover {
  background-color: #f0f0f0;
}
/* === Profile Dropdown Menu Style End ===== */

@media (max-width: 767px) {
  .currency-lang__dropdown {
    padding: 6px 5px !important;
    margin-right: 9px !important;
  }
  .currency-text {
    font-size: 10px !important;
  }
  .profile-btn {
    width: 34px;
    height: 34px;
  }
}

::ng-deep .p-drawer {
  border: none !important;
}
