<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">California</h2>

            <h3 class="ldn-subheading">California: The State of Endless Discovery
            </h3>
            <p class="ldn-paragraph">
              From golden coastlines to snow-capped peaks, California is a stunning place to visit. It is all about
              sunny drives down the Pacific Coast, a relaxed beach vibe, and the refreshing scent of citrus and redwoods
              in the air. It’s a state that invites you to roam free, stretch your imagination, and experience every
              kind of adventure.

            </p>



            <p class="ldn-paragraph">
              What sets California apart is its sheer diversity. Here, you’ll find sleepy seaside towns not far from
              sprawling tech cities, deserts that bloom with color, and valleys overflowing with wine, art, and
              innovation. Be it waves or a new perspective of life - California gives you the space to do it your way.

            </p>


            <p class="ldn-paragraph">
              But California is more than some landscapes and views. People come here not just to escape, but to
              explore, to create, and to dream big. It’s casual but driven, relaxed yet constantly evolving. One moment
              you're hiking through ancient forests, and the next you're watching the sunset over an ocean horizon that
              seems to stretch forever.

            </p>


            <p class="ldn-paragraph">California will always surprise you, no matter how many times you come here. So if
              you're ready for a journey that blends nature, culture, and soul, California is waiting.</p>

          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Yosemite National Park</h2>
                  <p class="things-card-description">
                    A designated UNESCO World Heritage Site, Yosemite National Park is famed for its soaring rock faces,
                    misty falls, and centuries-old sequoia trees. Take a hike up to Glacier Point or simply enjoy the
                    view from Yosemite Valley; this park offers raw, unfiltered nature at its best. It’s perfect for
                    outdoor lovers, photographers, and anyone wanting to reconnect with California’s wild side.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Golden Gate Bridge
                  </h2>
                  <p class="things-card-description">
                    This iconic red-orange suspension bridge is one of the most photographed landmarks in the world.
                    Walk or bike across to take in sweeping views of the Bay, Alcatraz Island, and the city skyline.
                    Whether it’s shrouded in fog or lit by the sun, the Golden Gate Bridge is a California experience
                    you’ll never forget.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Disneyland Theme Park</h2>
                  <p class="things-card-description">
                    The original Disneyland in California is where Walt Disney’s dream began. Packed with themed lands,
                    classic rides like Pirates of the Caribbean and Space Mountain, and meet-and-greets with beloved
                    characters, it delivers nonstop fun for all ages. From magical parades to fireworks over the castle,
                    Disneyland promises pure enchantment from gate to goodbye.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Fisherman’s Wharf </h2>
                  <p class="things-card-description">
                    Fisherman’s Wharf is San Francisco’s iconic waterfront spot. It offers a mix of waterfront views,
                    casual seafood spots, and lively attractions. Pier 39’s sea lions, local bites, and street-side
                    entertainment make it a go-to stop for the tourists. Try the popular clam chowder served in a
                    sourdough bread bowl or take a short bay cruise for great views of the San Francisco skyline.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Hollywood & Walk of Fame </h2>
                  <p class="things-card-description">
                    Walk in the footsteps of stars, literally, on Hollywood Boulevard’s Walk of Fame. Snap a photo with
                    the iconic Hollywood Sign, check out the star-studded sidewalks, or go behind the scenes on a studio
                    tour to see how movies come to life. It’s where California’s film dreams, past and present, come to
                    life with glitter and grit.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Alcatraz Island</h2>
                  <p class="things-card-description">
                    Just a short ferry ride from San Francisco, Alcatraz once housed some of America’s most notorious
                    criminals. Today, it’s a fascinating historic site with self-guided audio tours that walk you
                    through the former prison’s eerie halls. The island also offers sweeping views of the Bay and the
                    city skyline, equal parts haunting and beautiful.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+17609997119" class="ezbk-phone-link">1-760-999-7119</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->