  <section class="common-section hotel-loader-section">
            <div class="loader-container">
                <div class="loader-bar"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="innermainbox">
                            <div class="topinfobox">
                                <ul class="infolisthotel">
                                    <li>
                                        <div class="infoboxhotel">
                                            <img src="assets/images/Worldwide.png" alt="">
                                            <div class="infoboxsubhotel">
                                                <h3>Worldwide Coverage</h3>
                                                <p>Curabitur convallis enim atnora ullamcorper sagittis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infoboxhotel">
                                            <img src="assets/images/Ultimate.png" alt="">
                                            <div class="infoboxsubhotel">
                                                <h3>Ultimate Flexibility</h3>
                                                <p>Curabitur convallis enim atnora ullamcorper sagittis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infoboxhotel">
                                            <img src="assets/images/Best-Support.png" alt="">
                                            <div class="infoboxsubhotel">
                                                <h3>Best Support 24/7</h3>
                                                <p>Curabitur convallis enim atnora ullamcorper sagittis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infoboxhotel">
                                            <img src="assets/images/Guided.png" alt="">
                                            <div class="infoboxsubhotel">
                                                <h3>Guided Tours</h3>
                                                <p>Curabitur convallis enim atnora ullamcorper sagittis.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="hotelmidimg">
                                <img src="assets/images/hotelloaderimg.png" alt="">
                                <h4>Kolkata</h4>
                            </div>

                            <div class="hotelbookingdate">
                                <div class="bookdate">
                                    <h3>May 26, 2025</h3>
                                    <span>Check In</span>
                                </div>

                                <img src="assets/images/hoteldate.png" alt="">

                                <div class="bookdate">
                                    <h3>May 26, 2025</h3>
                                    <span>Check In</span>
                                </div>
                            </div>
                            <p class="textpara">Lorem Ipsum has been the industry's standard dummy text ever since the
                                1500s, </p>
                            <ul class="infolisthotel mb-4">
                                <li class="calllist">
                                    <div class="infoboxhotel">
                                        <img src="assets/images/call.png" alt="">
                                        <div class="infoboxsubhotel">
                                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s, </p>
                                            <a href="" class="callbtnhotel"><svg width="19" height="20"
                                                    viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12.6294 14.1461C12.4399 13.9466 12.1773 13.8369 11.8885 13.8369C11.5844 13.8369 11.2914 13.9624 11.0844 14.1815L9.77499 15.5681L9.42112 15.3603C8.64275 14.9033 7.57605 14.2767 6.45002 13.0828C5.3194 11.8873 4.72704 10.7555 4.29394 9.92807L4.10053 9.56391L5.41219 8.17545C5.84605 7.71454 5.86118 6.98107 5.44494 6.53978L3.02151 3.97456C2.83317 3.77512 2.57026 3.66504 2.28194 3.66504C1.97817 3.66504 1.68531 3.79108 1.47763 4.01049L0.882509 4.64413L0.827332 4.74151C0.605649 5.04234 0.424282 5.38035 0.288798 5.74881C0.162717 6.09975 0.084355 6.43331 0.0478763 6.76795C-0.264435 9.51722 0.932823 12.0411 4.1817 15.4798C8.03207 19.5554 11.2497 19.8725 12.1443 19.8725C12.2978 19.8725 12.3903 19.8636 12.4159 19.8608C12.7466 19.8182 13.0627 19.734 13.3816 19.6035C13.7259 19.4616 14.0446 19.271 14.3283 19.0363L14.4633 18.9232L15.0205 18.3447C15.4537 17.8858 15.4676 17.1533 15.0516 16.7125L12.6294 14.1461Z"
                                                        fill="white" />
                                                    <path
                                                        d="M10.0652 9.40153C9.53789 8.84358 8.87555 8.44211 8.15175 8.2417L7.8188 8.14844L7.72336 8.49647C7.68753 8.62548 7.64532 8.74763 7.59744 8.85737L7.41699 9.26433L7.83042 9.37738C8.37738 9.52373 8.87582 9.82193 9.27157 10.2418C9.64981 10.6413 9.9263 11.1426 10.071 11.6902L10.1408 11.954L10.6613 11.9853C10.7139 11.9918 10.7664 11.998 10.8168 12.0028L11.3061 12.0516L11.1925 11.5452C11.0102 10.7305 10.6208 9.98934 10.0652 9.40153Z"
                                                        fill="white" />
                                                    <path
                                                        d="M11.7648 7.60002C10.7857 6.56337 9.53454 5.88694 8.14824 5.64436L7.66602 5.55859L7.74178 6.06894C7.76405 6.22027 7.78367 6.37091 7.80004 6.5231L7.83085 6.7916L8.08609 6.84504C9.19104 7.06113 10.1886 7.61341 10.9707 8.44089C11.8686 9.39183 12.4174 10.6049 12.5563 11.951L12.5858 12.2359L12.9937 12.298C13.0593 12.3035 13.1258 12.3028 13.2196 12.3035L13.7109 12.3214L13.672 11.8967C13.5191 10.2446 12.859 8.75922 11.7648 7.60002Z"
                                                        fill="white" />
                                                    <path
                                                        d="M13.6131 5.64391C12.0067 3.94364 9.86709 2.93085 7.58817 2.79291L7.14551 2.76367L7.21933 3.22521C7.24187 3.37551 7.26948 3.52924 7.29867 3.68938L7.35255 3.96939L7.62011 3.98689C9.58666 4.12947 11.433 5.01639 12.8197 6.48403C14.1839 7.92849 15.0176 9.86099 15.1669 11.923L15.1925 12.2899L15.5388 12.2682C15.6209 12.2638 15.7017 12.2562 15.8198 12.2452L16.3153 12.204L16.288 11.8323C16.1187 9.48842 15.1688 7.29068 13.6131 5.64391Z"
                                                        fill="white" />
                                                    <path
                                                        d="M18.8989 11.5696C18.6724 8.59419 17.4519 5.79428 15.4616 3.68689C13.338 1.43852 10.5112 0.134909 7.50391 0.0151615L7.16301 0L7.13707 0.36279C7.13107 0.464115 7.12702 0.564295 7.12345 0.664934L7.10254 1.19164L7.45608 1.20503C10.1831 1.3119 12.7442 2.49216 14.6673 4.52809C16.4687 6.43519 17.574 8.97094 17.7804 11.6671L17.8092 12.0457L18.1691 12.0086C18.2911 11.9949 18.4148 11.9849 18.5394 11.9746L18.9275 11.943L18.8989 11.5696Z"
                                                        fill="white" />
                                                </svg>
                                                {{getData?.phoneNumber}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
