<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">London</h2>

            <h3 class="ldn-subheading">Escape to London – Where Dreams Meet Timeless Magic!</h3>
            <p class="ldn-paragraph">
              Looking to escape the chaos of daily life for a bit? London is calling, a place of history in a tangle of
              cobbled streets, where royal pomp and circumstance meets colourful and vibrant culture, and where you can
              turn a corner to reveal and new plot twist. This isn't just travel, but your great escape from the here
              and now.
            </p>
            <p class="ldn-paragraph">London is not just a city, rather it is a storybook, with old stones whispering and
              glass towers humming to us from the future. History is not just the backdrop; rather, it leaps into the
              surface as if under a spell of grandeur, grit, and glimmering random wonderment.
            </p>
            <p class="ldn-paragraph">The Thames, a vision of rivulets of aged gold at dusk, with the Tower Bridge
              refracting in a recurring sense of time. he British Museum, with its walls whispering of empire legends
              that never slumber, and Hyde Park, a verdant gem where swans float across jars of silence. When the sun
              drops or twilight deepens, indulge yourself with the call of Soho's electric vibrations, the night
              splashes like paint, accompanied by slinky jazz sneaking through the alleyways, suggests you join the
              dance.
            </p>
            <p class="ldn-paragraph">London doesn’t just invite you; it challenges you. To roam, to wonder, to fall in
              love with its chaos and
              grace. So, pack your adventurous spirit. Adventure is calling. Let London do its thing!</p>
          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Sir John Soane’s Museum</h2>
                  <p class="things-card-description">
                    This cluttered treasure trove belonged to an eccentric architect obsessed with antiquities. Navigate
                    dim corridors stuffed with Roman busts, medieval relics, and a sarcophagus tucked under the stairs.
                    The place feels like a Da Vinci Code set, if Dan Brown added more mummy drama. The air hums with
                    antiquity, just resist the urge to pocket a 3,000-year-old artifact. This isn’t a museum; it’s a
                    time capsule with a side of drama.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Disused Underground Station</h2>
                  <p class="things-card-description">
                    Tucked beneath the classy streets of Mayfair, Down Street Station was once Churchill’s secret WWII
                    bunker, and now it’s one of the coolest spots you can explore. Join a Hidden London tour and wander
                    through the dim old tunnels, touch the walls that once held wartime secrets, and stand where some of
                    Britain’s biggest decisions were made, back when the air was thick with stress and cigar smoke. You
                    might even hear the rumble of ghost trains in the dark.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Toastie in a 300-Year-Old Pub</h2>
                  <p class="things-card-description">
                    Step into The Spaniards Inn, where time stands still and the walls whisper tales from 1585. Dickens
                    penned prose here, Keats drank poetry, and Dick Turpin allegedly planned heists between pints. Order
                    the Welsh rarebit - molten cheese with a kick and let the ancient fireplace warm your bones. The
                    creaking floorboards and shadowy corners seem lifted from a Gothic novel. That chill down your
                    spine? Could be the draft or the spectral regulars still nursing their drinks. Cheers to 400 years
                    of liquid history!
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Forgotten Roman Wall</h2>
                  <p class="things-card-description">
                    Start your adventure with a visit to The Garden at 120, an open rooftop escapes that’s totally free
                    and offers skyline views you won’t forget. After soaking in the sights, take a short walk to Tower
                    Hill where part of London’s old Roman wall still stands. Run your hand over the rough stones and let
                    your mind wander. As the sun sets and the city turns golden, you can almost feel the history, like
                    you’ve stepped back in time for just a moment. And high above it all, the Shard seems to nod, like
                    it’s seen this magic before.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Rebel at Postman’s Park</h2>
                  <p class="things-card-description">
                    Tucked behind St. Paul’s, this tiny park hides the Memorial to Heroic Self-Sacrifice, a wall of
                    ceramic plaques honouring ordinary folks who died saving others. Spread your blanket beside their
                    stories, munch on a sausage roll, and ponder life’s fragility. It’s oddly uplifting.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Hidden 18th-Century Alley</h2>
                  <p class="things-card-description">
                    Tucked behind Covent Garden’s bustle, Neal’s Yard explodes like a burst of sunshine, a hidden square
                    where buildings glow in electric blues, sunflower yellows and raspberry pinks. Order a golden
                    turmeric latte from a plant-filled café and soak up the kaleidoscope vibe under twinkling fairy
                    lights. Local legend claims 17th-century alchemists once brewed potions here, and you’ll believe it
                    - the air still crackles with enchantment. Snap a photo, but the real magic? That giddy feeling
                    you’ve stumbled into London’s happiest secret.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+17609997119" class="ezbk-phone-link">1-760-999-7119</a>
              <p class="ezbk-description">
               Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->