<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"></div>
  <div class="innerbannerimgbox">
    <img src="assets/images/inner-detais_banner_images/privecy-policy.webp" alt="" class="innerbannerimg" />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>Website User <span class="subtitletext">Privacy Policy</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);" class="currentpagesec"><i class="fa-solid fa-house"></i> Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Privacy Policy
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->
<section class="policy-content">
  <div class="container container-xxl">
    <div class="page-content">
      <p>At Infinityfarecompare, we respect your privacy and are committed to safeguarding your personal information. This
        Privacy Policy is required for better collaboration related to your future bookings with us.
      </p>

      <h4>Information We Collect
      </h4>
      <p>
        We gather certain details to enhance your experience and improve our services. This information may include:

      </p>
      <strong>
        A. Personal Information

      </strong>
      <ul>
        <li>
          Your name, personal contact details, and others might be required prior to signing up for the page.
        </li>
        <li>Payment details are securely processed by third-party providers; we do not store sensitive financial
          information. </li>
      </ul>
      <strong>
        B. Non-Personal Data
      </strong>
      <ul>
        <li>
          Some technical information related to your IP and browser might also be required.
        </li>
        <li>Cookies and tracking tools that help us analyze visitor behavior and website performance.
        </li>
      </ul>

      <h4>How We Use Your Information</h4>
      <p>We utilize collected data to:
      </p>
      <ul>
        <li>Process bookings and deliver travel-related services.
        </li>
        <li>Improve website functionality and user experience.
        </li>
        <li>
          Send service-related updates, promotions, and notifications.

        </li>
        <li>
          Ensure compliance with legal requirements and enhance security.

        </li>
      </ul>


      <h4>Use of Cookies and Tracking Technologies</h4>
      <p>Cookies and similar technologies help us:
      </p>
      <ul>
        <li>Remember user preferences for a smoother experience.
        </li>
        <li>Monitor website performance and visitor interactions.
        </li>
        <li>Provide relevant content based on browsing activity.
        </li>
      </ul>
      <p>
        Users can manage or disable cookies through their browser settings, though some features may not function
        properly without them.
      </p>
      <h4>
        Sharing of Information

      </h4>
      <p>We do not sell or rent your data. However, we may share necessary details with:
      </p>
      <ul>
        <li>
          <b>Service Providers:</b> Trusted partners that assist with payments, bookings, or technical support.
        </li>
        <li>
          <b>Legal Authorities:</b> Users might be asked to abide by the legal formalities as stated by the concerned
          laws.
        </li>
      </ul>
      <p>
        Users are encouraged to use strong passwords and maintain account security.

      </p>

      <h4>Your Rights and Choices
      </h4>
      <p>
        Depending on your region, you may have rights to:

      </p>
      <ul>
        <li>Request corrections or updates to inaccurate details.</li>
        <li>Ask for deletion of your personal information, subject to regulatory and operational requirements.
        </li>
      </ul>

      <p>To know more such valuable information, reach out directly at <a
          href="mailto:{{getData?.email}}">{{getData?.email}}</a>.</p>

      <h4>Third-Party Links</h4>
      <p>Our website may contain links to external platforms for additional services. These websites operate
        independently, and we are not responsible for their privacy practices. We advise users to review their policies
        before sharing any information.
      </p>
      <h4>Updates to This Policy</h4>
      <p>
        We may update this Privacy Policy periodically. Any changes will be posted on this page, and your continued use
        of our services implies acceptance of the revised terms. We invite you to frequently check this website.
      </p>



      <h4>Contact Information</h4>
      <p>Trouble understanding more about our privacy concerns? Ping us directly at <a
          href="tel:+18882302647">&nbsp;{{getData?.phoneNumber}}&nbsp;</a> .</p>
      <p>By using our website, you acknowledge and accept this Privacy Policy. Thank you for choosing infinityfarecompare</p>
    </div>
  </div>
</section>
<!--=========== Contact ==============-->