/* == Cruise Style Start === */
.cruise-card-rating{
    position: absolute;
    bottom: 12px;
    right: 11px;
  }

  .cruise-type-card{
    padding: 9px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3.92px 15.69px 0px rgba(158, 158, 158, 0.25);
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .cruise-type-card-image{
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
  }
  .cruise-type-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cruise-type-card-body{
    margin: 0;
  }
  .cruise-type-card-title{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: 600;
    color: #000;
  }
  .cruise-type-card-description{
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: 500;
    color: #525252;
  }

  @media(min-width:992px){
    .cruise-type-card-title{
        font-size: 14px;
    }
    .cruise-type-card-description{
        font-size: 13px;
    }
  }
  /* == Cruise Style End=== */
