.flight-class-content-wrap {
  padding: 74px 0px 0px;
}
.flight-class-tabs .nav-tabs .nav-link {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  padding: 4px 0px;
  margin-right: 16px;
  line-height: 100%;
}

.flight-class-tabs .nav-tabs .nav-link.active {
  border-color: #0071e9;
  background-color: transparent !important;
  color: #000000;
}



.flight-class-tabs .nav-tabs {
  border-bottom: 0px;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 13px;
}

.flight-class-header {
  margin-bottom: 20px;
}
.flight-class-title {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
}
.flight-class-contact-cta {
  color: #0071e9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
  text-align: right;
}

/* == Overseas Crd Style Start  == */
.flight-class-tab-card {
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  padding: 12px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}

.flight-class-tab-card-left {
  width: 100%;
}
.flight-class-tab-card-left-image-box {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}
.flight-class-tab-card-left-image-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.24);
}
.flight-class-tab-card-left-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.flight-class-tab-card-left-image-price-badge {
  width: max-content;
  position: absolute;
  top: 16px;
  left: 0;
  border-radius: 2px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  padding: 8px;
  border-left: 2px solid #01032b;
}
.flight-class-tab-card-left-price-badge-label {
  font-size: 11px;
  color: #464646;
  font-weight: 500;
  line-height: 100%;
}
.flight-class-tab-card-left-price {
  font-size: 14px;
  color: #464646;
  line-height: 100%;
  font-weight: 600;
  padding-left: 7px;
}

.flight-class-tab-card-right {
  margin: 0;
  flex: 1;
}
.flight-class-tab-card-right-title {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
}
.flight-class-tab-card-right-title-price {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  line-height: 100%;
}
.flight-class-tab-card-right-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 14px;
}
.flight-class-tab-card-right-content-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 300px;
  overflow-y: auto;
  padding-right: 11px;
  padding-bottom: 16px;
}
/* === Custom Scrollbar Start == */
.flight-class-tab-card-right-content-wrap::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

.flight-class-tab-card-right-content-wrap::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.flight-class-tab-card-right-content-wrap::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 8px;
}

.flight-class-tab-card-right-content-wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.flight-class-tabs .nav-tabs::-webkit-scrollbar {
  width: 6px;
  height: 6px; 
}

.flight-class-tabs .nav-tabs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.flight-class-tabs .nav-tabs::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 8px;
}

.flight-class-tabs .nav-tabs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* === Custom Scrollbar End == */
.flight-class-tab-inner-card {
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex: 0 0 100%;
  transition: 0.3s;
}
.flight-class-tab-inner-card:hover{
  border-color: #01032b;
}
.flight-class-tab-inner-card-title {
  font-size: 14px;
  color: #595959;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}
.flight-class-tab-inner-card-price-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.flight-class-tab-inner-card-price {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 600;
  line-height: 100%;
  transition: 0.3s;
}

.flight-class-tab-inner-card-price-icon svg path{
  fill:#000 ;
  transition: 0.3s;
}
.flight-class-tab-inner-card-price-icon:hover svg path{
  fill:#01032b ;
}
.flight-class-tabs-content {
  margin-top: 16px;
  display: flex;
  width: 100%;
  gap: 16px;
  flex-direction: column;
}
.flight-class-tab-card-right-footer {
  width: 100%;
  margin-top: 4px;
  flex-direction: column;
  gap: 10px;
}

.country-deals-details-link{
  font-size: 14px;
  color: #0071E9;
  font-weight: 500;
  line-height: 100%;
  transition: 0.3s;
  text-underline-offset: 5px;
}
.country-deals-details-btn{
  font-size: 14px;
  color: #0071E9;
  font-weight: 500;
  line-height: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0071E9;
  border-radius: 5px;
  padding: 12px;
}
.country-deals-details-link:hover{
  color: #01032b;
  text-decoration: underline !important;
}
.country-deals-details-btn:hover{
  color: #01032b;
  border-color: #01032b;
}
.text-grey{
  color: #5D5D5D !important;
}
.text-orange{
  color: #01032b !important;
}
.text-blue{
  color: #0071E9 !important;
}
.cta-call-number{
  font-weight: 600;
}
/* == Overseas Crd Style End == */

@media (min-width: 768px) {
.flight-class-tab-inner-card {
    flex: 0 0 48.9%;
  }
}
@media (min-width: 992px) {
  .flight-class-content-wrap {
    padding: 120px 0px 0px;
  }
  .flight-class-tab-card {
    flex-direction: row;
  }
  .flight-class-tab-inner-card {
    flex: 0 0 32.7%;
  }
  .flight-class-tab-card-left {
    width: 298px;
  }
  .flight-class-tab-card-left-image-box {
    width: 100%;
    height: 100%;
  }
  .flight-class-tab-card {
    padding: 22px;
  }
  .flight-class-tab-card-right-content{
    gap: 14px;
  }
  .flight-class-tab-card-right-content-wrap{
    gap: 14px;
  }
  .flight-class-tab-card-right-footer{
    width: 100%;
    margin-top: 19px;
    flex-direction: row;
  }
  .country-deals-details-btn{
    font-size: 16px;
    padding: 16px;
  }
  .country-deals-details-link{
    font-size: 16px;
  }
  .flight-class-tab-inner-card-title {
    font-size: 16px;
  }
  .flight-class-tab-inner-card-price {
    font-size: 16px;
  }
  .flight-class-tab-inner-card {
    padding: 8px 12px;
  }
  .flight-class-tab-card-right-content-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    overflow-y: hidden;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .flight-class-tab-card-right-content {
    margin-top: 20px;
  }
  .flight-class-title {
    font-size: 24px;
    line-height: 100%;
    margin: 0;
  }
  .flight-class-contact-cta {
    font-size: 16px;
    line-height: 100%;
  }
  .flight-class-tabs .nav-tabs {
    border-bottom: 0px;
    white-space: wrap;
    width: auto;
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 1px;
  }
  .flight-class-tabs-content {
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 24px;
    flex-direction: column;
  }
  .flight-class-tabs .nav-tabs .nav-link {
    font-size: 14px;
  }
  .flight-class-header {
    margin-bottom: 30px;
  }
  .flight-class-tab-card-right-title {
    font-size: 20px;
  }
  .flight-class-tab-card-right-title-price {
    font-size: 20px;
  }
}

.exp-feature-sec .flight-features .card {
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
  }
  
  /* .exp-feature-sec .flight-features .card:hover {
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    } */
  
  .exp-feature-sec .feature-main-card img {
    object-fit: cover;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
  }
  
  .exp-feature-sec .feature-main-card {
    background: linear-gradient(135deg, #f9f9f9, #ffffff);
  }
  
  .exp-feature-sec .feature-card img {
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  
  .exp-feature-sec .feature-card .card-body {
    padding: 1rem;
  }
  
  .exp-feature-sec .card-title {
    font-weight: 600;
    color: #303030;
    font-size: 16px;
  }
  
  .exp-feature-sec .card-text {
    font-size: 0.85rem;
    color: #4b5563;
    margin-bottom: 5px;
  }
  .feature-main-card .card-body {
    padding: 16px;
  }
  .heading-cmn-flex h2.u-sec-title-text {
    font-size: 18px;
  }
  
  /* == ===== */
  /* .booking-container {
      max-width: 1200px;
      margin: auto;
      padding: 4rem 1rem;
    } */
  
  .booking-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
  }
  
  .booking-content {
    flex: 1 1 60%;
  }
  
  .booking-heading {
    margin-bottom: 6px;
  }
  
  .booking-subtitle {
    font-size: 1rem;
    color: #888;
    margin: 0;
  }
  
  .booking-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    color: #303030;
  }
  
  .booking-intro {
    font-size: 14px;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .booking-step {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
  }
  
  .step-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .step-description {
    font-size: 12px;
    color: #555;
    line-height: 1.6;
  }
  
  .booking-button-wrapper {
    margin-top: 20px;
  }
  
  .booking-button {
    width: max-content;
    padding: 0.75rem 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  /*   
    .booking-button:hover {
      background-color: #003f99;
    } */
  
  .booking-image-wrapper {
    flex: 1 1 35%;
    text-align: center;
  }
  
  .booking-image {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    object-fit: cover;
  }
  
  /* == ===== */
  /* == ===== */
  .booking-section {
    padding: 20px 0;
    background: #f9f9f9;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #303030;
    line-height: normal;
  }
  
  .benefits-wrapper .benefit-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
  }
  .benefits-wrapper {
    margin-bottom: 24px;
  }
  .benefit-card:hover {
    transform: translateY(-5px);
  }
  .newsletter-wrapper .deals-title {
    margin-bottom: 7px;
  }
  .icon {
    font-size: 28px;
    color: #f88a25;
    margin-bottom: 10px;
  }
  
  .icon-img {
    width: 32px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .benefit-card p {
    font-size: 0.9rem;
    color: #444;
    margin: 0;
  }
  
  .newsletter-wrapper .subtitle {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .newsletter-form .input-group {
    display: flex;
    max-width: 100%;
    gap: 0px;
  }
  
  .newsletter-input {
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    border-right: 0px;
  }
  
  .newsletter-btn {
    padding: 10px 20px;
    font-size: 0.95rem;
    border-radius: 6px;
    background: linear-gradient(
      135deg,
      rgba(251, 176, 64, 1) 0%,
      rgba(247, 127, 29, 1) 100%
    );
    border: 1px solid rgba(247, 127, 29, 1);
    color: #000;
    border: none;
    font-weight: 600;
  }
  .md-title-text {
    margin-bottom: 18px;
  }
  .newsletter-wrapper .subtitle {
    margin-bottom: 18px;
  }
  .section-title.deals-title {
    font-size: 18px;
  }
  /* == ===== */
  /* == ===== */
  /* ===== Layout Containers ===== */
  .fly-section {
    padding: 0;
  }
  
  .fly-container {
    padding: 1rem 1rem 0px;
    /* margin: 0 auto; */
    /* background-color: #fff; */
    /* border-radius: 8px; */
    /* padding: 2rem; */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.05); */
  }
  
  .fly-row {
    display: flex;
    flex-direction: column;
  }
  
  .fly-article {
    width: 100%;
  }
  
  .fly-flex {
    display: flex;
    flex-direction: column;
  }
  
  .fly-main {
    width: 100%;
  }
  
  /* ===== Typography ===== */
  .fly-title {
    font-size: 18px;
    color: #303030;
    margin-bottom: 9px;
    font-weight: 600;
  }
  
  .fly-text p {
    margin-bottom: 0.3rem;
    color: #444;
    font-size: 12px;
  }
  
  /* ===== FAQ Section ===== */
  .fly-faq {
    margin-top: 2rem;
  }
  
  .fly-faq-item {
    /* background-color: #f0f4f8; */
    /* padding: 1rem 1.5rem; */
    /* border-left: 4px solid #0056b3; */
    /* border-radius: 4px; */
    margin-bottom: 1.5rem;
  }
  
  .fly-faq-item:last-child {
    margin-bottom: 0px;
  }
  .fly-faq-question {
    font-size: 18px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .fly-faq-answer p,
  .fly-faq-answer ul {
    /* margin-left: 1rem; */
    color: #555;
  }
  
  /* ===== Lists ===== */
  .fly-tip-list {
    /* list-style: decimal inside; */
    padding-left: 2px;
  }
  
  .fly-tip-list li {
    margin-bottom: 0.3rem;
    font-size: 12px;
  }
  
  .fly-dest-list {
    list-style: disc inside;
    padding-left: 2px;
  }
  
  .fly-dest-list li {
    margin-bottom: 0.2rem;
    font-size: 12px;
  }
  
  /* ===== Responsive ===== */
  /* @media (max-width: 768px) {
      .fly-container {
        padding: 1.5rem;
      }
    
      .fly-title {
        font-size: 1.75rem;
      }
    
      .fly-faq-question {
        font-size: 1.1rem;
      }
    } */
  /* == ===== */
  
  /* == === */
  
  .amenity-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .section-header h2 {
    color: #303030;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 0;
    font-weight: 600;
  }
  .section-header p {
    font-size: 14px;
  }
  /* .section-header p {
      color: #64748b;
      font-size: 1.1rem;
      max-width: 600px;
      margin: 0 auto 40px;
    } */
  
  .amenity-card .card-body {
    padding: 16px;
  }
  
  .amenity-card .card-icon {
    width: 50px;
    height: 50px;
    border: 1.5px solid #f88a25;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #f88a25;
    font-size: 18px;
  }
  
  .amenity-card .card-title {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 12px;
  }
  
  .amenity-card .card-text {
    font-size: 12px;
    color: #4b5563;
    line-height: 1.6;
  }
  
  /* == === */
  
  @media (min-width: 992px) {
    .section-header h2 {
      font-size: 32px;
    }
    .section-header p {
      font-size: 15px;
    }
    .amenity-card .card-body {
      padding: 20px;
    }
    .amenity-card .card-title {
      font-size: 1.25rem;
    }
    .amenity-card .card-text {
      font-size: 0.95rem;
    }
    .amenity-card .card-icon {
      width: 70px;
      height: 70px;
      font-size: 24px;
    }
    .exp-feature-sec .card-text {
      margin-bottom: 16px;
    }
    .heading-cmn-flex h2.u-sec-title-text {
      font-size: 32px;
    }
    .booking-title {
      font-size: 2rem;
    }
    .booking-intro {
      font-size: 1.1rem;
      margin: 0.2rem 0 1rem 0;
    }
    .booking-heading {
      margin-bottom: 1rem;
    }
    .step-title {
      font-size: 1.1rem;
    }
    .step-description {
      font-size: 1rem;
    }
    .booking-button-wrapper {
      margin-top: 2rem;
    }
    .fly-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .fly-text p {
      font-size: 14px;
      margin-bottom: 1rem;
    }
  
    .fly-tip-list li {
      font-size: 14px;
      margin-bottom: 0.75rem;
    }
  
    .fly-faq-question {
      font-size: 1.25rem;
    }
    .fly-dest-list li {
      margin-bottom: 0.5rem;
      font-size: 14px;
    }
    .fly-section {
      padding: 4rem 0;
    }
  
    .fly-container {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  
  
  
  @media (min-width: 992px) {
    .exp-feature-sec .feature-main-card img {
      border-radius: 12px 0px 0px 12px;
    }
    .feature-main-card .card-body {
      padding: 24px;
    }
    .exp-feature-sec .card-title {
      font-weight: 600;
      color: #303030;
      font-size: 20px;
    }
    .exp-feature-sec .card-text {
      font-size: 0.95rem;
      color: #4b5563;
    }
    .section-title {
      font-size: 20px;
      color: #303030;
      line-height: normal;
      margin-bottom: 0;
      font-weight: 600;
    }
    .booking-section {
      padding: 60px 0;
      background: #f9f9f9;
    }
    .section-title.md-title-text {
      font-size: 24px;
    }
    .md-title-text {
      margin-bottom: 20px;
    }
    .newsletter-wrapper .subtitle {
      margin-bottom: 20px;
    }
    .section-title.deals-title {
      font-size: 24px;
    }
    .newsletter-wrapper .deals-title {
      margin-bottom: 20px;
    }
  }
  
