<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Singapore</h2>

            <h3 class="ldn-subheading">Singapore: An Island That Thinks Like a Metropolis
            </h3>
            <p class="ldn-paragraph">
              There’s something about Singapore — the moment you land, it just feels different. This city-state is like
              a perfect mix of future and tradition, with sleek high-rises standing beside old temples, and high-end
              dining next to sizzling street food. A place where cleanliness is an obsession and the public service is
              almost too good to be true; you get the idea that there is an entire planet contained on a single island,
              and that is exactly the impression it leaves with you.

            </p>
            =

            <p class="ldn-paragraph">
              You’ll fall in love with the way the city moves calmly yet buzzing with life. Explore Marina Bay, take a
              seat at a rooftop bar, and just let the skyline blow your mind. And when you're craving something green,
              Gardens by the Bay is like stepping into a sci-fi dream. From world-famous attractions to local gems
              hidden in cozy alleys, Singapore has something for every kind of traveler, no matter if you’re a foodie,
              an adventurer, or someone who just wants a change of pace.

            </p>


            <p class="ldn-paragraph">
              This place doesn’t shout; it stuns. It’s clean, safe, and incredibly photogenic. One minute you’re
              shopping in Orchard Road, and the next you’re sipping coconut water on Sentosa’s beach. You won’t just
              visit Singapore, you’ll feel like you’ve stepped into the future with your feet still on the ground. Book
              that trip. Singapore’s waiting to blow your mind.
            </p>


          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3 justify-content-center">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Merlion Park</h2>
                  <p class="things-card-description">
                    This is where you get that classic Singapore photo, with the half-lion, half-fish statue spouting
                    water. But it's more than just a selfie spot. The waterfront views, the vibe, and the nearby
                    restaurants make it a cool place to hang out, especially around sunset.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Marina Bay Sands</h2>
                  <p class="things-card-description">
                    This isn’t just a hotel, it’s an experience. The infinity pool at the top offers some of the best
                    skyline views in the world. Even if you're not staying here, head up to the SkyPark or catch the
                    light and water show at night. It’s a dazzling blend of style, sparkle, and memories you won’t
                    forget.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Gardens by the Bay</h2>
                  <p class="things-card-description">
                    This place seems like it came right out of a science fiction film. Towering Supertrees light up the
                    night, and the indoor Cloud Forest is pure magic. Walk along the OCBC Skyway and you'll feel as if
                    you're floating over the forest. It’s green, it’s gorgeous, and it’s pure wonder.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Sentosa Island</h2>
                  <p class="things-card-description">
                    Want beach vibes without leaving the city? Sentosa’s got you. From white sand beaches to zip lines,
                    aquariums, and even a theme park, this island is built for fun. It’s where locals go to chill and
                    tourists go to play. A full day here feels like a mini vacation within your vacation.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Chinatown</h2>
                  <p class="things-card-description">
                    Lively, colorful, and packed with good food, Chinatown is a must. Walk through its markets, step
                    into ancient temples, and grab a plate of chicken rice or satay at the hawker stalls. It’s a blend
                    of cultures, smells, and sounds that’ll stick with you long after the trip.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Singapore Zoo & Night Safari</h2>
                  <p class="things-card-description">
                    This is widely regarded as one of the top zoos in the world. The enclosures are open and
                    natural-looking, and the animals seem happy, which makes the experience even better. And the Night
                    Safari? Without any doubt this is a game changer. Riding through a jungle at night while spotting
                    wildlife is the kind of thing you don’t forget.

                  </p>
                  <a href="tel:{{getData?.phoneNumber}}" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center">
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">{{getData?.phoneNumber}}</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->