<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div
    class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"
  ></div>
  <div class="innerbannerimgbox">
    <img
      src="assets/images/inner-detais_banner_images/cookie-policy.webp"
      alt=""
      class="innerbannerimg"
    />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>Site Cookies Usage <span class="subtitletext">Policy</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a  routerLink="/" class="currentpagesec"
                  ><i class="fa-solid fa-house"></i> Home</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Cookie Policy
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->
<section class="policy-content">
  <div class="container container-xxl">
    <div class="page-content">
      <p>
        Let’s talk cookies! Not the chocolate chip kind, but the little files that help our website run smoother and smarter. At Infinityfarecompare, we use cookies to enhance your browsing experience and make sure things work the way they should. Nothing shady, just tech that helps us help you.
      </p>

      <h4>What Are Cookies?</h4>
      <p>
       Cookies are small text files or data stored on your device when you visit any website. They don’t take up much space, don’t collect personal data directly, and definitely don’t bite. Their job? To remember your preferences, keep the site running efficiently, and offer a more personalized experience.
      </p>

      <h4>How We Use Cookies</h4>
    <p>We use cookies to:</p>
      <ul>
        <li>
          Remember who you are when you return
        </li>
        <li>
         Improve site speed and functionality
        </li>
        <li>
          Track which pages you like (so we can make them even better)
        </li>
        <li>
         Understand how visitors use the site
        </li>
      </ul>
      <p>It’s all about helping you get where you need to go online and seamless.</p>

      <h4>Types of Cookies We Use</h4>
      <ul>
        <li><strong>Essential Cookies</strong> – These are must-haves for basic site features (like page navigation).</li>
        <li><strong>Performance Cookies</strong> – Help us figure out what’s working (and what’s not).</li>
        <li><strong>Preference Cookies</strong>  – Remember your settings so you don’t have to redo them every visit.</li>
      </ul>

      <h5>Controlling Cookies</h5>
      <p>Not into cookies? That’s cool. You can manage or disable them in your browser settings anytime. Just keep in mind, turning some off might make parts of the site act a little funky.</p>
      <h5>Updates to This Cookie Policy</h5>
      <p>We may tweak this policy every now and then to keep things fresh and updated. If we do, we’ll update the “Last Updated” date right here.</p>
      <h5> Got Questions?</h5>
      <p>We’re always here to help. Head over to our Contact Us page if you’ve got cookie-related questions.</p>
      
    </div>
  </div>
</section>
<!--=========== Contact ==============-->
