<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Maldives</h2>

            <h3 class="ldn-subheading">Maldives – A Whispering Ocean Haven</h3>
            <p class="ldn-paragraph">
              The Maldives is a gentle whisper in the vast Indian Ocean, a sanctuary of calm, beauty, and timeless
              escape. With over a thousand coral islands, this archipelago offers a rare blend of untouched nature and
              worldclass luxury.
            </p>
            <p class="ldn-paragraph">
              Wake up to the lovely glow of dawn reflecting on turquoise waters, while the gentle beat of waves floats
              beneath your overwater home. All around, velvety white sands meet lagoons that glisten like polished
              crystal. </p>
            <p class="ldn-paragraph">
              Beneath the water, a vibrant ecosystem awaits. The Maldives is home to colorful coral gardens, tropical
              fish, and majestic sea turtles. Diving and snorkeling open doors to a world that feels like nature’s
              secret
              gallery, while sunset cruises and dolphin spotting bring the magic above the surface. </p>
            <p class="ldn-paragraph">
              The islands cater to every traveler’s desire, honeymooners seeking privacy, families seeking fun, and
              adventurers chasing new thrills. Kayaking, jetskiing, and parasailing promise excitement, while floating
              breakfasts and spa sessions over the ocean ensure pure indulgence. </p>
            <p class="ldn-paragraph">
              Every meal becomes a memory thanks to the grilled seafood, coconut curries, and tropical desserts that
              celebrate the sea and island life. </p>
            <p class="ldn-paragraph">
              The Maldives is not just a getaway, it’s a serene conversation between you and the ocean, where time slows
              down and life feels beautifully simple.
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3 justify-content-center">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/thulusdhoo-island.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Thulusdhoo Island </h2>
                  <p class="things-card-description">
                    Thulusdhoo Island is known for its worldclass surfing spots, vibrant culture, and authentic
                    Maldivian charm. Famous for the surf break “Cokes,” the island attracts adventure seekers and ocean
                    lovers alike. Beyond surfing, visitors can explore local villages, enjoy fresh seafood, and watch
                    artisans craft traditional Maldivian drums. The island’s guesthouses offer a comfortable stay while
                    preserving the local vibe. Thulusdhoo perfectly blends adventure and culture, making it a mustvisit
                    for travelers seeking an immersive island experience.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/fihalhohi-island.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Fihalhohi Island </h2>
                  <p class="things-card-description">
                    Fihalhohi Island is a favourite for couples and honeymooners seeking a blend of privacy and beauty.
                    Its overwater bungalows and beachfront villas provide direct access to turquoise waters. Snorkeling
                    around the island reveals vibrant corals and colourful tropical fish. Guests can relax with spa
                    treatments or take sunset cruises for a magical experience. With its soft sandy beaches, swaying
                    palms, and serene environment, Fihalhohi captures the essence of a romantic Maldivian escape
                    perfectly customized for tranquil moments.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/banana-reef.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Banana Reef</h2>
                  <p class="things-card-description">
                    Shaped like a curved crescent in the ocean, Banana Reef ranks among the Maldives’ legendary diving
                    spots. Beneath its clear waters lies a colorful world of thriving corals, swarming tropical fish,
                    majestic manta rays, and sleek reef sharks, making it a paradise for marine enthusiasts. Snorkelers
                    and divers appreciate the crystal-clear waters and breathtaking underwater scenery. The reef's
                    stunning caverns, overhangs, and rich marine life make it an exciting place for adventurers. A visit
                    to Banana Reef is essential for exploring the Maldives' world-class marine biodiversity.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/addu-atoll.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Addu Atoll </h2>
                  <p class="things-card-description">
                    Addu Atoll, which is located at the southernmost part of Maldives, offers you a calm and peaceful
                    retreat away from the regular tourist rush. Known for its heartshaped formation, the atoll features
                    calm lagoons, coral reefs, and cycling paths connecting local islands. Tourists can take gorgeous
                    boat trips, dive among a variety of marine life, and see ancient British sites. Its unique geography
                    and tranquil vibe make it ideal for nature lovers and adventure seekers alike. Addu Atoll provides
                    an intimate glimpse of traditional Maldivian life away from crowds.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/hulhumalé.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Hulhumalé </h2>
                  <p class="things-card-description">
                    The reclaimed island of Hulhumalé blends modern architecture with the pleasant beauty of the
                    surrounding turquoise waters. The island is well-known for its expansive beaches and spotless
                    promenades, which provide chances for swimming and snorkeling in crystal-clear waters. It is a
                    tranquil substitute for bustling Malé because it is also home to a large number of cafés and
                    eateries. The island’s scenic beachfront mosque and green spaces add to its charm. Hulhumalé is
                    ideal for travelers seeking relaxation before or after exploring other Maldivian islands.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/maldives/things_to_do/vaadhoo-island.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Vaadhoo Island </h2>
                  <p class="things-card-description">
                    Vaadhoo Island is famous for its magical “Sea of Stars,” a phenomenon caused by bioluminescent
                    plankton glowing in the water at night. Walking along the beach under the starry sky while the waves
                    shimmer with blue light is a surreal experience. Apart from its glowing beaches, Vaadhoo offers a
                    peaceful environment with soft sands and turquoise lagoons. Nature lovers and photographers will
                    find this island enchanting, as it combines daytime beauty with nighttime natural wonder in
                    spectacular fashion.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center">
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/1.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/3.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/4.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/5.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/6.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/7.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/maldives/8.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN </h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">{{getData?.phoneNumber}}</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->