<!-- === Cokkies Policy Acceptance  Popup start ===  -->
<div class="cookies-box hidden-xs cookieModal" id="cookie-banner">
    <p clas="cookie-text">Track prices and find best deals at your fingertips! Our site uses cookies <span id="more-text" style="display: none;"> for a personalized web experience, 
        <a href="" id="cookies" target="_blank" class="cookie-link">Click here</a> 
        to learn more about our cookie policy.
        </span>
        <a href="javascript:void(0);" id="toggle-more"> Show more</a>
    </p>
    <span class="accept" id="accept-cookies">Accept All</span>
</div>
<!-- === Cokkies Policy Acceptance  Popup end ===  -->
