<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Paris</h2>

            <h3 class="ldn-subheading">The Timeless Heart of France</h3>
            <p class="ldn-paragraph">
              The city is a stunning blend of history and modern flair located along the banks of the Seine River graced
              by iconic silhouettes like the Eiffel Tower, Notre-Dame and the Sacré-Cœur. Each neighborhood has its own
              charm from the bohemian of Montmartre to the Saint-Germain-des-Prés with quiet moments in a riverside café
              and the grandeur of opera at Palais Garnier.
            </p>
            <p class="ldn-paragraph">
              The way of life here is slow and you can start your day with a flaky croissant in a corner bakery, wander
              through the halls of the Louvre, enjoy an afternoon walk in the Tuileries Garden and end the night with
              wine under the twinkling lights of the Eiffel Tower. The city delivers a full experience with grace and
              passion whether it’s art, rich history or exclusive food. Every street feels like a postcard and every
              moment like a memory as the city awaits with open arms and a touch of elegance for any season.
            </p>
          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Eiffel Tower</h2>
                  <p class="things-card-description">
                    No visit to this city is complete without witnessing its most iconic structure with marvelous views
                    from the top whether you take the elevator or climb the stairs. Stay until evening when the tower
                    lights up in a glittering spectacle every hour.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Louvre Museum</h2>
                  <p class="things-card-description">
                    It is a journey through art and home to various paintings including the Mona Lisa and the Venus de
                    Mil. Its glass pyramid entrance has become a modern icon and the museum itself is worth hours of
                    exploration.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Montmartre</h2>
                  <p class="things-card-description">
                    This hilltop neighborhood offers cobbled streets, street art and panoramic views of the city. Visit
                    the stunning Sacré-Cœur Basilica, watch artists paint in Place du Tertre and enjoy the bohemian
                    atmosphere that once inspired legends like Picasso and Toulouse-Lautrec.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Seine River Cruise</h2>
                  <p class="things-card-description">
                    See the city from a different angle with a leisurely cruise along the river and glide under historic
                    bridges, past grand monuments and enjoy commentary that brings the city’s past to life with magical
                    experience at night.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Palace of Versailles</h2>
                  <p class="things-card-description">
                    This former royal residence is a symbol of absolute monarchy at its most lavish and it is just a
                    short trip from the city. Wander through the Hall of Mirrors, walk through the gardens and imagine
                    life in the grandeur of the French court.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Latin Quarter</h2>
                  <p class="things-card-description">
                    This historic neighborhood near the Sorbonne University is perfect for discovering hidden gems with full of bookstores, jazz clubs and old-world charm. Enjoy a crêpe on Rue Mouffetard or browse ancient texts at Shakespeare and Company.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/home/hotel_booking2.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+17609997119" class="ezbk-phone-link">(888) 230-2647</a>
              <p class="ezbk-description">
               Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->