<body>
 
    <div class="maintenance-box">
<div class="logo">Infinity fare compare</div>
 
        <h1>🚧 Under Maintenance</h1>
 
        <div class="divider"></div>
 
        <p>
            We are currently performing scheduled maintenance.
<br>
            Our team is working to bring the site back online as soon as possible.
</p>
 
        <div class="contact">
            Need urgent help?
 <span>📧 info&#64;infinityfarecompare.us</span>
</div>
 
        <div class="footer">
            © 2025 Infinity fare compare. All rights reserved.
</div>
</div>
 
</body>