<!--=========== Banner Section Start  ==============-->
    <section class="banner banner-content-wrap innerbannersection">
      <div class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(assets/images/Careers/shape8.png)"></div>
      <div class="innerbannerimgbox">
        <img src="assets/images/inner-detais_banner_images/post-ticketing-fee.webp" alt="" class="innerbannerimg">
      </div>
      <div class="container container-xxl">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="innerbanner-txt">
              <h1>
                Explore the  <span class="subtitletext">Post-Ticketing Fees</span>
              </h1>
              <div class="breadcrumbssec">
                <ol class="breadcrumb bg-transparent justify-content-center">
                  <li class="breadcrumb-item"><a  href="javascript:void(0);" class="currentpagesec"><i class="fa-solid fa-house"></i>
                      Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Post Ticketing Fees</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Banner Section End  ==============-->

    <!--=========== Contact ==============-->
<section class="post_ticketing_section post-ticket-fees-wrap mt-3 pt-5 pb-4">
  <div class="container container-xxl">
    <div class="row">
        <div class="col-12">
            <div class="main_table_wrap w-100">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width:33%;">Applicable Scenario</th>
                            <th style="width:33%;">Why This Fee Applies</th>
                            <th style="width:33%;">Cost Per Ticket (Per Passenger)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">
                                <p>Cancellations processed through a live agent</p>
                            </td>
                            <td rowspan="3">
                                <p>
                                    Request submitted within 24 hours of booking confirmation

                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic $45
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                International: $70
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Business & First Class: $85
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Air Travel – Economy</th>
                            <th colspan="2">Air Travel – Business &amp; First Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                                    
                                </p>
                            </td>
                            <td>
                                <p>
                                    Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                With Travel Credit Applied<span>*</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                With Instant Refund<span>**</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    $120
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            
    
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 15%;">Change Fees with Ticket Reissue</th>
                            <th colspan="4"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                               Changes made within 10 days of new travel date <span>*</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Changes made more than 10 days before departure <span>**</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                $120
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            <td>
                                <p>
                                $240
                                </p>
                            </td>
                            
    
                        </tr>
                       
    
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Air Travel - Economy</th>
                            <th colspan="2">Air Travel - Business &amp; First Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                                    Reservation Changes with Waiver Requests
                                </p>
                            </td>
                            <td>
                                <p>
                                    Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Fee with Exchange Waiver Support
                                </p>
                            </td>
                            <td>
                                <p>
                                    $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $50
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                            <td>
                                <p>
                                $90
                                </p>
                            </td>
                        </tr>
    
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="width:33.3%;">
                               For full explanation of refund/credit-related service charges
                                </td>
                                <td>
                                Please review our  <a routerLink="/terms-and-condition" style="cursor: pointer;"> Terms &amp; Conditions </a> for full details
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                <span>*</span> All bookings made through our system are generally non-refundable, unless clearly stated otherwise at the time of booking. Any refund eligibility is determined strictly by the fare rules set by the airline or if a waiver is secured by our team. Refunds cannot be processed for passengers marked as ‘no-show’.
                                </td>
                            </tr>
                            <tr>
                            <td>
                                <span>**</span> Future credit or refund availability is subject to airline-specific fare rules, policies, and terms.
                                </td>
                            </tr> 
                            <tr>
                            <td>
                                Final prices shown at checkout will be displayed in your local currency.
                                </td>
                            </tr> 
                            <tr>
                                <td>
                               Travelers may be categorized as adults, seniors, children, infants, students, or military personnel.
                                </td>
                            </tr>  
                            <tr>
                                <td>
                                    Service fees related to cancellations, changes, credit processing, or refunds are calculated per traveler, per ticket. These charges are distinct from any relevant airline or third-party partner fees. All service charges, including transaction and handling fees, are non-refundable and can be updated without prior notice.
                                </td>
                            </tr>
                            <tr>
                                <td>
Regulation fees and taxes levied by the government might fluctuate.  However, the final amount shown during checkout or confirmed by our representatives will be the total billed.
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
    <!--=========== Contact ==============-->