<!--=========== Banner Section Start  ==============-->
    <section class="banner banner-content-wrap innerbannersection">
      <div class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(assets/images/Careers/shape8.png)"></div>
      <div class="innerbannerimgbox">
        <img src="assets/images/inner-detais_banner_images/post-ticketing-fee.webp" alt="" class="innerbannerimg">
      </div>
      <div class="container container-xxl">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 col-12">
            <div class="innerbanner-txt">
              <h1>
                Booking Service <span class="subtitletext">Fees Details</span>
              </h1>
              <div class="breadcrumbssec">
                <ol class="breadcrumb bg-transparent justify-content-center">
                  <li class="breadcrumb-item"><a  href="javascript:void(0);" class="currentpagesec"><i class="fa-solid fa-house"></i>
                      Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Post Ticketing Fees</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== Banner Section End  ==============-->

    <!--=========== Contact ==============-->
<section class="post_ticketing_section post-ticket-fees-wrap mt-3 pt-5 pb-4">
  <div class="container container-xxl">
    <div class="row">
        <div class="col-12">
            <div class="main_table_wrap w-100">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width:33%;">Applicable Charges</th>
                            <th style="width:33%;">Details of Fees</th>
                            <th style="width:33%;">Per-Ticket Service Fee (Per Traveler)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="3">
                                <p>Cancellation Through Agent Assistance<span>*</span></p>
                            </td>
                            <td rowspan="3">
                                <p>
                                    Request made within 24 hours of booking confirmation
                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic $40
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                International: $65
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Business and First Class: $90
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Air Travel – Economy</th>
                            <th colspan="2">Air Travel – Business &amp; First Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                                    
                                </p>
                            </td>
                            <td>
                                <p>
                                    Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Cancel with Agent Help (Future Travel Credit)<span>*</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Cancel with Agent Help (Instant Refund)<span>**</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    $125
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            
    
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 15%;">Changes to Existing Reservations (with Exchange)</th>
                            <th colspan="4"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                               Change within 10 days of new travel date <span>*</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Change more than 10 days from new travel date <span>**</span>
                                </p>
                            </td>
                            <td>
                                <p>
                                $125
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            <td>
                                <p>
                                $245
                                </p>
                            </td>
                            
    
                        </tr>
                       
    
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">Air Travel - Economy</th>
                            <th colspan="2">Air Travel - Business &amp; First Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>
                                    Changes to Existing Reservations (with Exchange)
                                </p>
                            </td>
                            <td>
                                <p>
                                    Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            <td>
                                <p>
                                Domestic
                                </p>
                            </td>
                            <td>
                                <p>
                                International
                                </p>
                            </td>
                            
    
                        </tr>
                        <tr>
                            <td>
                                <p>
                                Waivers handled by Agent
                                </p>
                            </td>
                            <td>
                                <p>
                                    $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $45
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                            <td>
                                <p>
                                $85
                                </p>
                            </td>
                        </tr>
    
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="width:33.3%;">
                                Fees related to refunds or travel credits, as applicable
                                </td>
                                <td>
                                Please review our <a routerLink="/privacy-policy" style="cursor: pointer;"> Terms &amp; Conditions </a> for full details
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                <span>*</span> Flight tickets booked through our platform are generally non-refundable unless explicitly mentioned otherwise. Any refund approval is subject to the airline or travel provider’s terms. Refunds are only processed if the provider’s conditions are satisfied or if our team can secure an exception. If you're marked as a 'no-show', refunds are typically not allowed unless an exception is obtained.
                                </td>
                            </tr>
                            <tr>
                            <td>
                                <span>**</span> Airline refunds and credit policies strictly follow the carrier’s fare regulations and operational guidelines.
                                </td>
                            </tr> 
                            <tr>
                            <td>
                                The service charges visible at checkout will be displayed in your local currency.
                                </td>
                            </tr> 
                            <tr>
                                <td>
                                Traveler categories may include classifications such as adult, child, infant, senior citizen, student, or military personnel.
                                </td>
                            </tr>  
                            <tr>
                                <td>
                                    Fees for cancellations, changes, refunds, or credit requests are calculated per traveler, per ticket. These fees (sometimes called booking or service fees) are non-refundable and subject to modification at any time. They are in addition to any applicable charges from the airline or service provider.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                Taxes or government-imposed charges are also subject to change. However, you will only be billed the total amount shown at the time of payment or the quote given by our representatives.
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
    <!--=========== Contact ==============-->