<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div
    class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"
  ></div>
  <div class="innerbannerimgbox">
    <img
      src="assets/images/inner-detais_banner_images/privecy-policy.webp"
      alt=""
      class="innerbannerimg"
    />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>Privacy <span class="subtitletext"> Policy</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a routerLink="/" class="currentpagesec"
                  ><i class="fa-solid fa-house"></i> Home</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Privacy Policy AU
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->
<section class="policy-content">
  <div class="container container-xxl">
    <div class="page-content">
      <p>
        At infinityfarecompare, we think your personal information deserves the same
        careful protection as your travel dreams. Think of this as our friendly
        chat about how we handle your data when you book flights with us. We're
        all about being clear and secure because your trust means everything to
        us.
      </p>

      <h4>Personal data that we need from you</h4>
      <p>
        When you come with us with your travel plans, we tend to collect all the
        vital data that is crucial at the time of booking. This may include your
        name and other associated information pertaining to your booking.
        Additionally, travel dates are also what we may ask for along with the
        net carry on luggage details for your next trip.
      </p>
      <h4>How do we use your Data?</h4>
      <p>
        To make the process of booking run smoother, we use cookies and other
        similar resources in order to make the website more feasible to you.
        This eventually helps us to save your preferential data and showcase
        relevant offers and content. If you wish, you can disable the usage of
        cookies on your browser, as needed.
      </p>
      <p>
        Also, it helps us to manage flight booking confirmation and reservation,
        and to notify us about flight schedule, delays, cancellations and gate
        changes. Besides that, the provided information is used to personalize
        search results and the entire browsing experience, ensure compliance
        with the applicable laws and regulations, as well as use aggregated and
        non-identifiable data for trend analysis and improvements to services.
      </p>
      <h4>How We Share Your Personal Information </h4>
      <p>
        We may also disclose information to third parties as may be necessary
        for the purposes of handling your bookings and other related services.
        This includes airlines, payment processors for safe payments,
        governmental or regulatory authorities for cases required by law, and
        trusted service providers that help support and maintain the platform.
        All such parties are required to handle your data in accordance with
        appropriate privacy and security regulations. We do not and will not
        sell, rent, or trade your personal information with any third party for
        commercial purposes.
      </p>
      <h4>Use of Cookies and Tracking Technologies</h4>
      <p>
        To make the process of booking run smoother, we use cookies and other
        similar resources in order to make the website more feasible to you.
        This eventually helps us to save your preferential data and showcase
        relevant offers and content. If you wish, you can disable the usage of
        cookies on your browser, as needed.
      </p>
      <h4>How We Protect and Store Data</h4>
      <p>
        As we said, your privacy matters, to keep your personal information safe
        from misuse, loss, or unauthorized access. Please do note that your data
        might be accessible for limited usage, but then we do ensure that all
        the vital measures are being exercised to not harm the privacy of your
        shared information. 
      </p>
      <h4>How Long do we keep your Data?</h4>
      <p>
        Please be aware that all your data are used as long as it serves the
        needed purpose. Additionally, from the time the booking is processed
        till the final execution has been done - all your data pertaining to the
        same shall be used actively. Post that, when our travel experts feel
        that your existing data is no longer required for any practical usage,
        we may delete your data, accordingly.
      </p>
      <h4>How to Contact Us</h4>
      <p>
        If anything in this policy was unclear, or if you have specific
        questions about how your data is handled, don’t hesitate to reach out.
        You can easily talk to us via. <a href="tel:{{ getData?.australia_phoneNumber }}"> +{{ getData?.australia_phoneNumber }}</a>
      </p>
    </div>
  </div>
</section>
<!--=========== Contact ==============-->
