<section class="inf-hero-section">
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="inf-hero-content">
          <h1>Discover the Land of Love</h1>
          <p>Uncover the best pages of your life by visiting London &amp; make inexplicable memories.</p>
        </div>

        <div class="inf-call-widget">
          <h2>Purchase Best <span>Deals</span></h2>
          <form name="inf-call-form" action="#" method="post" novalidate>
            <div class="form-row">
                <div class="row g-2 g-lg-3">
                    <div class="col-md-6">
                        <input type="text" name="sub_name" placeholder="Your Name" class="form-control" required />
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="sub_phone_number"  class="form-control" placeholder="Your Phone Number" required />
                    </div>
                </div>
              <button type="submit" class="banner-form-submit-btn">Get a Call</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
