<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div
    class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"
  ></div>
  <div class="innerbannerimgbox">
    <img src="assets/images/contact/businesspeople-meeting-office-hand-shake.webp" alt="" class="innerbannerimg" />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>Connect With <span class="subtitletext">Our Experts</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);" class="currentpagesec"><i class="fa-solid fa-house"></i> Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->

<section class="contact-one">
  <div class="container container-xxl">
    <div class="contact-one__inner">
      <ul class="contact-one__contact-list list-unstyled">
        <li>
          <div class="icon">
            <span class="icon-call"><i class="fas fa-phone"></i></span>
          </div>
          <div class="content">
            <h3>Contact Us</h3>
            <p>
              Phone number: <a href="tel:{{ getData?.phoneNumber }}">{{ getData?.phoneNumber }}</a>
            </p>
            <!-- <p>
              Phone number: <a href="tel:{{ getData?.phoneNumber }}">{{ getData?.phoneNumber }}</a>
            </p> -->
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="icon-location location-icon"><i class="fas fa-map-marker-alt"></i></span>
          </div>
          <div class="content">
            <h3>Office Location</h3>
            <p>{{ getData?.address }}</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <span class="icon-envolop email-icon"><i class="fas fa-envelope"></i></span>
          </div>
          <div class="content">
            <h3>Email Us</h3>
            <p>
              <a href="mailto:{{ getData?.email }}">{{ getData?.email }}</a>
            </p>
            <!-- <p><a href="mailto:demo23gmail.com">demo23&#64;gmail.com</a></p> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="contact-two">
  <div class="container container-xxl">
    <div class="row align-items-center">
      <div class="col-xl-7 col-md-6">
        <div class="contact-two__left">
          <div class="section-title text-left">
            <div class="section-title__tagline-box"><span class="section-title__tagline">Book Your Next Trip</span></div>
            <h2 class="section-title__title">Got questions? Send us a text</h2>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()" class="contact-form-validated contact-two__form">
            <div class="row">
              <div class="col-xl-6 col-lg-6">
                <div class="contact-two__input-box">
                  <input placeholder="Name" type="text" formControlName="name" [class.is-invalid]="isInvalid('name')" />
                  <div *ngIf="isInvalid('name')" class="text-danger">Name is required.</div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="contact-two__input-box">
                  <input placeholder="E-mail" type="email" formControlName="email" [class.is-invalid]="isInvalid('email')" />
                  <div *ngIf="isInvalid('email')" class="text-danger">Valid email is required.</div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="contact-two__input-box">
                  <input placeholder="Phone" type="number" formControlName="phone" [class.is-invalid]="isInvalid('phone')" />
                  <div *ngIf="isInvalid('phone')" class="text-danger">Phone number is required.</div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="contact-two__input-box">
                  <input
                    placeholder="Subject"
                    type="text"
                    formControlName="subject"
                    [class.is-invalid]="isInvalid('subject')"
                  />
                  <div *ngIf="isInvalid('subject')" class="text-danger">Subject is required.</div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="contact-two__input-box text-message-box">
                  <textarea
                    placeholder="Message"
                    formControlName="message"
                    [class.is-invalid]="isInvalid('message')"
                  ></textarea>
                  <div *ngIf="isInvalid('message')" class="text-danger">Message is required.</div>
                </div>
              </div>
              <div class="col-xl-12">
                <div class="contact-two__btn-box">
                  <button type="submit" class="thm-btn contact-two__btn">Submit Now<span></span></button>
                </div>
              </div>
            </div>
          </form>

          <div class="result"></div>
        </div>
      </div>
      <div class="col-xl-5 col-md-6">
        <div class="contact-two__right">
          <div class="contact-two__img"><img src="assets/images/contact/contact-two-img-1.webp" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="google-map-one google-map-two">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
    class="google-map__one"
  ></iframe>
</section>

<!--=========== Contact ==============-->
