<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3"><app-flights-tab></app-flights-tab></div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">New York</h2>

            <h3 class="ldn-subheading">The City That Defines Dreams — Welcome to New York
            </h3>
            <p class="ldn-paragraph">
              New York goes beyond being a city — it’s a vibe you feel, a mood you live, and a moment that sticks with
              you long after you’ve left. Known as the city that never sleeps, New York pulses with a unique kind of
              energy that wraps you in its magic from the very first moment. Whether you're staring up at the iconic
              skyline, roaming through its historic streets, or soaking in the magic of Broadway lights, New York always
              finds a way to move you.

            </p>



            <p class="ldn-paragraph">
              From the timeless charm of Central Park to the towering architecture of the Empire State Building, New
              York blends nature and concrete in the most spectacular way. Walk through the colorful chaos of Times
              Square, feel the wonder as you stand beneath the timeless beauty of Grand Central Terminal or simply sip
              coffee in a cozy SoHo café. Every part of the city has a story to tell: one of art, hardship, passion, and
              success.

            </p>

            <p class="ldn-paragraph">
              It’s not just about sightseeing; it’s about feeling alive in a place that’s constantly evolving. Here,
              cultures collide, dreams take flight, and every street feels like a movie set. New York isn’t just a
              destination; it’s a once-in-a-lifetime adventure waiting to happen. So go ahead, book your ticket, and let
              the Big Apple steal your heart.

            </p>

          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Central Park</h2>
                  <p class="things-card-description">
                    This vast 693-acre green haven lies at the heart and soul of Manhattan. Central Park offers a breath
                    of fresh air amidst the city chaos, from scenic meadows to quiet lakes and romantic bridges. Whether
                    you're cycling, walking, or picnicking under the sun, the park lets you pause, breathe, and simply
                    enjoy life.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Whitney Museum of American Art
                  </h2>
                  <p class="things-card-description">
                    If you love art, the Whitney is a spot you can’t miss. You’ll find incredible works by legends like
                    Basquiat and Calder, a huge indoor gallery, amazing rooftop views, and even a cool restaurant and
                    bar by Danny Meyer. It’s where great art and a great vibe come together.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Bryant Park</h2>
                  <p class="things-card-description">
                    Just a skip away from Times Square lies this charming green pocket where locals come to relax. From
                    lunch breaks and outdoor yoga to fashion shows and live piano sessions, Bryant Park always has
                    something happening. In Midtown Manhattan, the buzz of the city meets quiet corners, creating a
                    space where energy and calm live side by side.


                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Grand Central Terminal</h2>
                  <p class="things-card-description">
                    Step into a living postcard of old New York at Grand Central. This iconic train station is more than
                    a transit hub, it's a masterpiece of architecture, history, and motion. Look up at the celestial
                    ceiling, dine in legendary eateries, and feel the heartbeat of the city.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Coney Island
                  </h2>
                  <p class="things-card-description">
                    Fun, food, and nostalgia — Coney Island has it all. From roller coasters and boardwalk fries to
                    sandy beaches and vintage vibes, this coastal playground is a New York classic. Come for the
                    thrills, stay for the views, and leave with a smile.

                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/home/hotel_booking.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Brooklyn Bridge
                  </h2>
                  <p class="things-card-description">
                    Walking across the Brooklyn Bridge is one of those unforgettable New York experiences. This iconic
                    bridge stretches over the East River, linking Brooklyn and Manhattan, giving you some of the best
                    skyline views in the city. Whether you walk, bike, or just stand still, the view is worth every
                    step.
                  </p>
                  <a href="https://example.com" target="_blank" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row g-3">
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/01.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/02.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/03.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/04.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/05.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/06.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/07.webp" alt="Card Image" /></div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="img-card-box"><img src="assets/images/new-yorktab-image/08.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">(888) 230-2647</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->