<!--=========== Banner Section Start  ==============-->
<section class="banner banner-content-wrap innerbannersection">
  <div
    class="section-shape section-shape1 top-inherit bottom-0"
    style="background-image: url(assets/images/Careers/shape8.png)"
  ></div>
  <div class="innerbannerimgbox">
    <img
      src="assets/images/inner-detais_banner_images/disclaimer.webp"
      alt=""
      class="innerbannerimg"
    />
  </div>
  <div class="container container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-12">
        <div class="innerbanner-txt">
          <h1>Site Use <span class="subtitletext">Disclaimer Guide</span></h1>
          <div class="breadcrumbssec">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item">
                <a  href="javascript:void(0);" class="currentpagesec"
                  ><i class="fa-solid fa-house"></i> Home</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Disclamier
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=========== Banner Section End  ==============-->

<!--=========== Contact ==============-->
<section class="policy-content">
  <div class="container container-xxl">
    <div class="page-content">
      <p>
        Hi! Let us welcome to {{companyName}}. Before you dive in, here’s a quick heads-up. This disclaimer is just to keep things clear and transparent. By using our site, you’re agreeing to the points below - nothing too serious, just the basics!   
      </p>
      <h4>Just General Info </h4>
      <p>
        We’re here to share travel tips, guides, and info to help you plan your trips. But keep in mind: 
      </p>
      <ul>
      <li>Everything on our site is for general information only.</li>
      <li>We try our best to keep things accurate and updated, but we can’t guarantee 100% perfection.</li>
      <li>If you make any travel decisions based on our info, it’s totally up to you.</li>
    </ul>


      <h4>Links to Other Sites </h4>
      <p>Sometimes, we link to other websites for extra details or useful resources. While we choose links carefully, we don’t control what’s on those sites. If you click on one, be sure to check their terms and policies. </p>

      <h4>No Promises </h4>
      <p>We do our best to provide helpful and reliable info, but things change - like travel rules, recommendations, and more. Always double-check with official sources to stay updated! </p>

      <h4>Your Call, Your Responsibility </h4>
      <p>
        We’re here to share travel insights, but at the end of the day, it’s up to you to verify details, follow rules, and make the best decisions for yourself. Always do your own research! 
      </p>


      <h4>Updates to This Disclaimer </h4>
      <p>
        We might tweak this disclaimer from time to time to keep things fresh. We'll share the updates right here if we do. 
      </p>
      <!-- <h4>Got Questions? </h4> -->
      <!-- <p>Need some clarification? No problem! Just drop us a message at  <a href="mailto:{{ getData?.email }}">{{ getData?.email }}</a>. </p> -->
    </div>
  </div>
</section>
<!--=========== Contact ==============-->
