<!-- == Main Banner Part Start == -->
<app-top-destinations-head></app-top-destinations-head>
<!-- == Main Banner Part End == -->
<!-- == Flight Search Start == -->
<div class="container container-xxl py-3">
  <div class="inner-page-banner-form-wrap">
    <app-flights-tab></app-flights-tab>
  </div>
</div>
<!-- == Flight Search End == -->
<!-- == Main Body Start == -->
<section class="lnt-tab-section">
  <div class="container container-xl">
    <div class="tab-menu-list d-flex align-items-center justify-content-center">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview"
            type="button" role="tab">
            Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="things-tab" data-bs-toggle="tab" data-bs-target="#things" type="button"
            role="tab">
            Things to Do
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hotels-tab" data-bs-toggle="tab" data-bs-target="#hotels" type="button"
            role="tab">
            Best Hotels
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="visit-tab" data-bs-toggle="tab" data-bs-target="#visit" type="button" role="tab">
            When to Visit
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="map-tab" data-bs-toggle="tab" data-bs-target="#map" type="button"
            role="tab">Map</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
            role="tab">
            Photos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support" type="button"
            role="tab">
            Support
          </button>
        </li>
      </ul>
    </div>
    <div class="tab-content-wrap">
      <div class="tab-content pt-3">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">
          <div class="ldn-content">
            <h2 class="ldn-heading">Florida</h2>

            <h3 class="ldn-subheading">Sunshine, Sand, and So Much More — That’s Florida
            </h3>
            <p class="ldn-paragraph">
              Florida’s not just a place you visit — it’s a whole experience. The kind where flip-flops are basically
              formal wear, and every sunset looks like a movie scene. From thrilling thrills in Orlando to leisurely
              drives to Key West with your playlist blazing, Florida knows how to leave an impression.

            </p>


            <p class="ldn-paragraph">
              Here, no one’s in a rush. You begin your mornings with strong Cuban coffee and end your days with
              beachside sunsets. Each city has its own distinct vibe — Miami is loud and proud, Naples is relaxed and
              luxurious, and St. Augustine feels like a history book with a beach. Somewhere between the neon lights and
              lazy beach afternoons, you find your rhythm.
            </p>

            <p class="ldn-paragraph">
              Florida brings variety. Roller coasters, white sands, buzzing art scenes, wild alligator parks, vintage
              towns — it’s all here. Whether you are road-tripping along the coast or city-hopping with zero plans,
              Florida just has that magic. It’s playful, sunny, and full of surprises.

            </p>


          </div>
        </div>
        <div class="tab-pane fade" id="things" role="tabpanel">
          <div class="row g-3 justify-content-center">
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/orlando.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Orlando</h2>
                  <p class="things-card-description">
                    This is where the magic lives. With Disney World and Universal Studios calling the shots, magic is
                    always in the air. But it’s not just rides or the theme park — there’s lakes to chill by, buzzing
                    nightlife, and a city that knows how to party.

                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/miami.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Miami</h2>
                  <p class="things-card-description">
                    Miami hits different — colorful, loud, and unapologetically alive. From the electric energy of South
                    Beach to the soulful streets of Little Havana, this city is all rhythm and color. Spend your days
                    beach-hopping, then dive into the nightlife that doesn’t quit. Sip a mojito in Little Havana or
                    cruise through Ocean Drive — this city knows how to move.

                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/key-west.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Key West</h2>
                  <p class="things-card-description">
                    This is where flip-flops, sunsets, and stories all go a little off-script. Ride bikes past pastel
                    houses, chat with locals, catch those jaw-dropping sunset celebrations, and chill at beach bars.
                    It’s got small-town vibes with tropical flair. It’s full of those little moments you’ll remember
                    forever.

                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/tampa-bay.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Tampa Bay</h2>
                  <p class="things-card-description">
                    Tampa has it all: ocean activities, urban vibrancy, and the perfect amount of relaxation. Spend your
                    morning with some kayaking or a visit to the Florida Aquarium to check out the marine life. Later,
                    head downtown for live music and some mouthwatering street food.
                    <br>
                    Don’t miss Busch Gardens if you're into roller coasters and wildlife, and also the sunsets at
                    Clearwater Beach to witness an unreal experience.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/naples.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">Naples</h2>
                  <p class="things-card-description">
                    Naples is all about easy living with a touch of class. The quiet beaches with powdery white sand,
                    charming little cafés, and sunsets that feel like a painting come to life — all make it feel like a
                    beach town that grew up classy. It’s calm but never dull. Explore cozy art spots, hop on a boat for
                    dolphin sightings, or just relax with a drink in hand while the sky turns gold.

                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex">
              <div class="things-card">
                <img src="assets/images/tab_photos/florida/things_to_do/st-augustine.webp" />
                <div class="things-card-content">
                  <h2 class="things-card-title">St. Augustine</h2>
                  <p class="things-card-description">
                    St. Augustine is where Florida’s history gets real. With old Spanish forts, cobbled streets, and
                    haunted tales, it feels like a time machine with beach access. Roam through antique shops, sip
                    something sweet at a local winery, and take in all the charm that this old soul has to offer.
                  </p>
                  <a href="tel:+18882302647" class="things-card-button">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="hotels" role="tabpanel">
          <div class="hotel-accordion-ui">
            <div class="accordion" id="accordionHotels">

              <!-- 3 STAR -->
              <div class="accordion-item border-start border-1  rounded-0">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    <i class="fa fa-star text-warning me-1"></i> 3 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 3 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 4 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i> 4 STAR
                    HOTELS
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 4 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 5 STAR -->
              <div class="accordion-item border-start border-1  mt-3 rounded-0">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed custom-header text-dark" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    <i class="fa fa-star text-warning me-1"></i><i class="fa fa-star text-warning me-1"></i><i
                      class="fa fa-star text-warning me-1"></i> 5 STAR HOTELS
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#accordionHotels">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="p-2 hotel-acordion-content-wrap">
                        Hotel 5 Star
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="visit" role="tabpanel">
          <div class="tab-menu-list d-flex align-items-center justify-content-start">
            <ul class="nav nav-tabs" id="wtv-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="wtv-flight-tab" data-bs-toggle="tab" data-bs-target="#wtv-flight"
                  type="button" role="tab" aria-controls="wtv-flight" aria-selected="false">
                  Flight
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="wtv-hotel-tab" data-bs-toggle="tab" data-bs-target="#wtv-hotel"
                  type="button" role="tab" aria-controls="wtv-hotel" aria-selected="true">
                  Hotel
                </button>
              </li>
            </ul>
          </div>
          <div class="wtv-tab-content-wrap">
            <div class="tab-content mt-3" id="wtv-tabContent">
              <div class="tab-pane fade  fade show active" id="wtv-flight" role="tabpanel"
                aria-labelledby="wtv-flight-tab">
                <div class="app-flight-form-wrap"><app-flights-tab></app-flights-tab></div>
              </div>
              <div class="tab-pane" id="wtv-hotel" role="tabpanel" aria-labelledby="wtv-hotel-tab">
                <div class="app-hotel-form-wrap"><app-hotels-tab></app-hotels-tab></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel">
          <div class="map-container">
            <div class="tab-map">
              <div id="mapouter" style="position:relative;text-align:center;width:100%; height:500px;">
                <div style="overflow:hidden;background:none!important;width:100%; height:500px;" id="gmap_canvasid">

                  <agm-map [latitude]="this.lat" [longitude]="this.lng" style="width:100%; height:500px;"
                    frameborder="0" scrolling="no" id="gmap_canvas" marginheight="0" marginwidth="0">
                    <agm-marker [latitude]="this.lat" [longitude]="this.lng"></agm-marker>
                  </agm-map>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="photos" role="tabpanel">
          <div class="row row-cols-2 row-cols-md-4 g-3 justify-content-center">
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/1.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/2.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/3.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/4.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/5.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/6.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/7.webp" alt="Card Image" /></div>
            </div>
            <div class="col d-flex">
              <div class="img-card-box"><img src="assets/images/tab_photos/florida/8.webp" alt="Card Image" /></div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel">
          <div class="ezbk-booking-section">
            <div class="ezbk-content text-center">
              <h2 class="ezbk-heading">LET’S MAKE TRAVEL SIMPLE AND FUN</h2>
              <a href="tel:+18882302647" class="ezbk-phone-link">{{getData?.phoneNumber}}</a>
              <p class="ezbk-description">
                Count on us to turn every trip into a lasting memory
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- == Main Body End == -->
<!-- == Destination List Part Start == -->
<div class="container container-xxl"><app-top-destinations-list></app-top-destinations-list></div>
<!-- == Destination List Part End == -->