<!--=========== innerBanner Section Start  ==============-->
        <section class="banner banner-content-wrap innerbannersection">
            <div class="section-shape section-shape1 top-inherit bottom-0"
                style="background-image: url(assets/images/Careers/shape8.png)"></div>
            <div class="innerbannerimgbox">
                <img src="assets/images/inner-detais_banner_images/testimonials.webp" alt="" class="innerbannerimg">
            </div>
            <div class="container container-xxl">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="innerbanner-txt">
                            <h1>
                                Real Stories from Our <span class="subtitletext">Happy Clients</span>
                            </h1>
                            <div class="breadcrumbssec">
                                <ol class="breadcrumb bg-transparent justify-content-center">
                                    <li class="breadcrumb-item"><a  href="javascript:void(0);" class="currentpagesec"><i
                                                class="fa-solid fa-house"></i> Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=========== innerBanner Section End  ==============-->
        <!--=========== inner Banner Bottom Section Start  ==============-->
        <section class="destinations cmn-gap">
            <div class="container container-xxl">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonials-grid">
                            <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Easy Booking Experience </h5>
                                <div class="testimonial-textsec" id="text1">“I reserved my flight to Singapore with {{companyName}} and the whole process was easy. They efficiently handled the booking process, and the entire system was easy and quite simple. Highly recommend for anyone seeking quick and reliable travel arrangements.” ”
                                </div>
                                <span class="read-more" onclick="toggleText('text1', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Jessica Marie Anderson, New York </div>
                                <div class="testimonial-date">June 14, 2025</div>
                            </div>

                            <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★☆</div>
                                <h5 class="testimonial-title-txt">Affordable and Reliable </h5>
                                <div class="testimonial-textsec" id="text2">“The prices offered were very competitive. The booking process was straightforward. I appreciated the transparency and quick confirmation. It’s my go-to platform for affordable and dependable travel bookings every time I plan a trip.” </div>
                                <span class="read-more" onclick="toggleText('text2', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Michael Thomas Johnson, Los Angeles </div>
                                <div class="testimonial-date">May 21, 2025</div>
                            </div>

                            <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Excellent Customer Support </h5>
                                <div class="testimonial-textsec" id="text3">“Took my Canada flight with {{companyName}} and I am truly thankful to their team. The customer support team was very helpful and guided me throughout my journey. They explained all my queries and helped me a lot. Appreciate their efforts.” </div>
                                <span class="read-more" onclick="toggleText('text3', this)">Read more</span>
                                <div class="testimonial-name mt-2">— David Samuel Parker, Houston, TX </div>
                                <div class="testimonial-date">June 2, 2025</div>
                            </div>
                             <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Very Easy Process </h5>
                                <div class="testimonial-textsec" id="text3">“Booking my hotel was super easy. I had a work trip to Chicago and everything was confirmed fast. No issues at check-in and the price was better than other sites I checked. Really happy with how smooth it went.” </div>
                                <span class="read-more" onclick="toggleText('text4', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Melissa R., Brooklyn, NY </div>
                                <div class="testimonial-date">May 3, 2025</div>
                            </div>
                             <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Excellent Flight Booking Experience </h5>
                                <div class="testimonial-textsec" id="text3">“I booked a flight from Dallas to Vancouver and it was way easier than I thought. The price was good, no hidden fees, and the support team actually helped when I had a question. I’d book through them again for sure.” </div>
                                <span class="read-more" onclick="toggleText('text3', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Derrick L., Austin, TX </div>
                                <div class="testimonial-date">April 7, 2025</div>
                            </div>
                             <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Outstanding Service </h5>
                                <div class="testimonial-textsec" id="text3">“We booked both our flight and hotel to LA. Everything worked out great. The times were good, the hotel was nice, and what we saw online matched what we got. No problems at all.” </div>
                                <span class="read-more" onclick="toggleText('text3', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Brianna K., Toronto, ON </div>
                                <div class="testimonial-date">June 28, 2025</div>
                            </div>
                             <div class="testimonial-card">
                                <div class="testimonial-stars">★★★★★</div>
                                <h5 class="testimonial-title-txt">Great Last-Minute Deals </h5>
                                <div class="testimonial-textsec" id="text3">“I just got what I wanted from them, and I have been blessed to make the choice of my own for my last min plans. The price was reasonable, the location was great, and check-in was smooth. No issues, just simple and smooth.” </div>
                                <span class="read-more" onclick="toggleText('text3', this)">Read more</span>
                                <div class="testimonial-name mt-2">— Jason M., San Diego, CA </div>
                                <div class="testimonial-date">July 5, 2025</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--=========== innerbanner Bottom Section End  ==============-->