<section class="thankyou_section">
    <div class="thankyou_container">
        <div class="thankyou_row">
            <div class="thankyou_flex">
                <div class="thankyou_content">
                    <img src="https://theinfinitytravel.com/assets/images/logo-footer.png" alt="Logo">
                    <h1>Thank you</h1>
                    <div class="thankyou_divider"></div>
                    <p>We’re honored that you’ve taken the first step toward planning a sacred and memorable Nikkah celebration. <br>Our team will be reaching out to you shortly with all the essential details to help you move forward with ease and peace of mind</p>
                    <a href="tel:+918885268721" class="thankyou_call-link d-block mt-3">
                        <span>For more Assistance, call us here &nbsp;</span>+91-8885268721
                    </a>
                    <a href="https://theinfinitytravel.com/" class="thankyou_backhome">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
