<section class="thankyou_section">
    <div class="thankyou_container">
        <div class="thankyou_row">
            <div class="thankyou_flex">
                <div class="thankyou_content">
                    <img src="assets/images/logo.png" alt="Logo" class="thankyou-logo">
                    <h1>Thank you</h1>
                    <div class="thankyou_divider"></div>
                    <p>We’re honored that you’ve taken the first step toward planning a sacred and memorable Nikkah celebration. <br>Our team will be reaching out to you shortly with all the essential details to help you move forward with ease and peace of mind</p>
                    <a href="tel:{{getData?.phoneNumber}}" class="thankyou_call-link d-block mt-3">
                        <span>For more Assistance, call us here &nbsp;</span> {{getData?.phoneNumber}}
                    </a>
                    <a routerLink="" class="thankyou_backhome">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
