<section class="thankyou_section">
    <div class="thankyou_container">
        <div class="thankyou_row">
            <div class="thankyou_flex">
                <div class="thankyou_content">
                    <img src="assets/images/logo.png" alt="Logo" class="thankyou-logo">
                    <h1>Thank you</h1>
                    <div class="thankyou_divider"></div>
                    <p>It’s Good to See That You Have Started Planning for Your News Gateway and We’re Delighted That You Have Chosen Infinity Travels to Plan Your Next Adventure.</p>
                    <p>Our Team Will Connect with You Shortly to Share All the Details and Make Sure Everything Is Smooth, Easy, and Customized Just for You.</p>
                    <h6 class="thankyou_call-link">Need help or have a question?</h6>
                    <a href="tel:{{getData?.phoneNumber}}" class="thankyou_call-link d-block mt-2">
                        <span>Call us anytime at &nbsp;</span> {{getData?.phoneNumber}} – we're here for you!
                    </a>
                    <a routerLink="" class="thankyou_backhome rounded-1">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
